* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    color: #313131;
    font-family:"Trebuchet MS", verdana, arial, helvetica, sans-serif;
    text-align: center; /* IE6 hack */
}

#header {
    color: #575757;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}

#wrapper, #new_account {
    margin: 0 auto;
    margin-top: 65px;
    width: 400px;
    display: block;
    text-align: left;
}
#new_account {
  width: 600px;
}
#login {
    display: block;
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0px 0px 6px #999;
    -webkit-box-shadow: 0px 0px 6px #999;
    border-radius: 10px;
}
#register {
    padding: 15px;
    padding-left: 25px;
    border-top: 1px solid #ccc;
}
#register a {
    text-decoration: none;
    font-size: 11px;
    color: #313131;
}
#register a:hover {
    font-weight: bold;
}

#login button {
  font-size:12px;
}


/* @group Messages */
div#login-messages {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align:left;
}

.messages li {
    list-style-type: none;
    background-position: 5px 1px;
    min-height: 28px;
    padding: 9px 0px 0px 50px;
    margin: 0px 0px 10px 0px;
}
.messages .info {
    background: #ecf7fe url('../img/icons/msg-info.gif') no-repeat;
    border-bottom: 1px solid #caeaff;
    color: #2288c7;
}
.messages .warning {
    background: #fff6e0 url('../img/icons/msg-warn.gif') no-repeat;
    border-bottom: 1px solid #fbdf9c;
    color: #f9a900;
}
.messages .error {
    background: #ffe7dc url('../img/icons/msg-error.gif') no-repeat;
    border-bottom: 1px solid #fa7050;
    color: #e2350d;
}
/* @end */
