/* @group Form */
form img.loadbar {
	margin: 0px 0px 20px 0px;
	padding: 0;
	border: 0px;
}

form h3 {
	padding-bottom: 3px;
	border-bottom: 1px solid #e1ddda;
	clear: both;
}

form#filter_batches {
	margin: 0px;
	padding: 0px;
}


form .instructions {
	clear: both;
	color: #51473d;
	padding: 0;
	margin: 10px 0px 15px 20px;
	font-style:italic;
}

fieldset {
	margin: 0px;
	padding: 0px 0px 40px 20px;
	border: 0px;
	clear: both;
}
.filter_col, .last_filter_col {
	padding: 0px 25px 0px 0px;
	width: 280px;
	display: block;
	float: left;
	margin-left: 20px;
	background: url('../img/new_layout/filter_col.png') no-repeat;
	background-position: top right;
}
.last_filter_col {
	background: none;
	width: auto;
}

form label {
	width: 230px;
	display: block;
	float: left;
	clear: both;
	/*
	display: -moz-inline-box;
	display: inline-block;
	*/
	background: #efeddd;
	border-bottom: 2px solid #e0dcc9;
	color: #51473d;
	height: 15px;
	line-height: 16px;
	padding: 7px 5px 7px 10px;
	margin: 0px 16px 3px 0px;
	font-weight: bold;
}

form.change_password label{
	width: 280px;
}

form label.error{
	color:#E2350D;
}
form input {
	border: 1px solid #e0dcc9;
	height: 19px;
	padding: 5px;
	color: #51473d;
	width: 200px;
}
	form input[type!=file]:focus {
		border: 1px solid #bfbaa4;
	}

	form input.big {
		width: 438px;
	}

form input[type=file]{
	height: auto;
	width: auto;
}

form select {
	padding: 5px;
	border: 1px solid #e0dcc9;
	height: 28px;
	width: 212px;
	color: #51473d;
}
	form select:focus {
		border: 1px solid #BFBAA4;
	}

	form select.big {
		width: 450px;
	}

	form option.selected {
		background-color: #d2e886;
		color: #51473d;
	}
form select[multiple] {
	padding: 5px;
	float: left;
	border: 1px solid #e0dcc9;
	height: 78px;
	width: 212px;
	color: #51473d;
}
form .formcol_left, form .formcol_right {
	margin-top: 5px;
	width: 200px;
	float: left;
}
	form .formcol_left {
		padding-right: 20px;
		border-right: 1px solid #cacaca;
	}
	form .formcol_right {
		padding-left: 30px;
	}

form input[type="checkbox"], form input[type="radio"] {
	width:auto;
	height:auto;
	margin-right: 10px;
}
form input[type="radio"]{
	margin:0;
	padding:0;
	float:none;
}
form div input[type="radio"]{
	margin-top: 8px;
}
div.form-row input[type="checkbox"]{
	margin-top:8px;
}

textarea.big_textarea {
	padding: 10px;
	border: 1px solid #e0dcc9;
	width: 650px;
}
	textarea.big_textarea:focus {
		border: 1px solid #BFBAA4;
	}

textarea.small_textarea {
	padding: 10px;
	border: 1px solid #e0dcc9;
	width: 380px;
}
	textarea.small_textarea:focus {
		border: 1px solid #BFBAA4;
	}

form select.error, form input.error{
	border-color: #E2350D;
}

.tiny {
	width: 60px;
}

.small {
	width: 100px;
}

/*form textarea, form select, form input{
	margin-bottom:5px;
}*/

form select#select-budget {
	float: none;
	display: inline;
	width: 400px;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
}

/* START WIZARD FORM */
#wizard_form {
	background:transparent url(../img/new_layout/bg-bar-content.gif) repeat-x scroll 0 0;
	border-top:1px solid #EBE9DB;
	border-bottom:1px solid #EBE9DB;
	margin-bottom: 10px;
	height: 80px;
}
#wizard_form input{
	height: 17px;
}
#wizard_form h3{
	border-bottom: 0;
}
#wizard_form img {
	margin-top: 5px;
	margin-left: 5px;
	cursor: pointer;
}
#wizard_form div {
	float: left;
	height: 70px;
	width: 316px;
	padding: 5px;
}
/* END WIZARD FORM */