
/* @group Layout */
body, #wrapper {
  font-family:"Trebuchet MS";
  font-size: 0.8em;
  color:#484848; 
  margin: 0; 
  padding: 0; 
  min-width: 900px;
  background-color:#eee;
}

#wrapper { background: white; }

#top-menu {
  position: relative;
  height: 6px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #2C4056;
  color: #fff;
}
#account {
  background-color: #2C4056;
  float: right;
  margin-right: 100px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  z-index: 20;
  color: #fff;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#account a {
  color: #fff;
  margin-left: 6px;
  margin-right: 6px;
}

#content_header {
  margin-bottom: 30px;
}

#header {
  margin:0;
  padding: 8px 8px 0 8px;
  background-color:#507AAA;
}
#header h1 { 
  margin: 0 24px;
  color: #f8f8f8;
}
#header a { color:#f8f8f8; }

#main-menu {
  margin-left: 24px;
}
#main-menu ul {
  margin: 0;
  padding: 0;
  height: 25px;
}
#main-menu li {
  float:left;
  list-style-type:none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#main-menu li a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding:4px 8px 6px;
  font-weight: normal;
  color: #fff;
}
#main-menu li a:hover {
  text-decoration: none;
  background:#759FCF;
  color:#fff;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topleft: 5px;
  -webkit-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#main-menu li a.selected, #main-menu li a.selected:hover {
  font-weight: bold;
  background-color:#eee;
  color:#111;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topleft: 5px;
  -webkit-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


#main {
  margin: 8px 24px 0px 24px;
}

#content {
  min-height: 600px;
  width: 80%;
  margin: 0px;
  margin-bottom: 20px;
  padding: 6px 10px 30px 10px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  -moz-box-shadow: #bbb 2px 2px 3px;
  -webkit-box-shadow: 2px 2px 3px #bbb;
  z-index: 10;
  overflow: auto;
  background-color: #fff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
#main.nosidebar #content{ width: auto; border-right: 0; }

#sidebar{
  position: relative;
  float: right;
  width: 16%;
  padding: 0;
  margin: 0;
  z-index: 9;
}
#main.nosidebar #sidebar{ display: none; }

#footer {
  clear: left;
  margin:4px 0 20px 20px;
  padding: 5px;
  padding-bottom:15px;
  border: 0;
  font-size: 9px;
  background:#fff;
  color: #666;
  text-align:left;
}
/* @end layout */


/* @group Headers */
h1, h2, h3, h4 { font-family: "Trebuchet MS","Lucida Grande",arial,sans-serif; }

h1 {
  font-size: 24px;
  font-weight: normal;
  margin:0pt 0pt 0pt 0.25em;
  padding:0pt 0pt 10px;
  text-align:left;
}

h2 {
  font-size: 14px;
  margin: -6px -10px 0px;
  padding: 10px 20px;
  background-color: #edf3fe;
  background-color: #e4f0ff;
  background-color: #5e90c9;
  background-color: #507aaa;
  text-transform: uppercase;
/*  background-color: #b79b71;*/
  background-color: #507aaa;
  color: #000;
  color: #507aaa;
  color: #fff;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
  color: #444;
}

h4 {
  font-size: 13px;
  font-weight: normal;
  padding: 2px 10px 1px 0px;
  margin-bottom: 5px;
  color: #444;
}

div.splitcontentleft h2 {
  padding: 0;
  margin: 20px 0 5px 0;
  background-color: transparent;
}
/* @end Headers */


/* @group Links */
a, a:link, a:visited{
  text-decoration: none;
  color: #2A5685;
}
a:hover, a:active{
  text-decoration: underline;
  cursor: pointer;
  color: #2A5685;
}
a img{ border: 0; }

a.sifac {
  color: #f42514;
}
a.xlab {
  color: #18a70b;
}

#sidebar a { padding: 2px; }
#sidebar a:hover {
  text-decoration: none;
  background-color:#507aaa;
  color:#FFFFFF;
}

.arrow_left    { background: url('../img/icons/arrow_left.png');    }
.arrow_right   { background: url('../img/icons/arrow_right.png');   }
.cart_add      { background: url('../img/icons/basket_add.png');    }
.cart_delete   { background: url('../img/icons/basket_delete.png'); }
.cart_go       { background: url('../img/icons/basket_go.png');     }
.edit          { background: url('../img/icons/pencil.png');        }
.add           { background: url('../img/icons/add.png');           }
.delete        { background: url('../img/icons/cross.png');         }
.table_go      { background: url('../img/icons/table_go.png');      }
.table_filter  { background: url('../img/icons/table_gear.png');    }
.table_refresh { background: url('../img/icons/table_refresh.png'); }
.user_suit     { background: url('../img/icons/user_suit.png');     }
.user_gray     { background: url('../img/icons/user_gray.png');     }
.user_green    { background: url('../img/icons/user_green.png');    }
.user_red      { background: url('../img/icons/user_red.png');      }
.user_orange   { background: url('../img/icons/user_orange.png');   }
.door_in       { background: url('../img/icons/door_in.png')        }
.shield        { background: url('../img/icons/shield.png')         }

.cart_add, .cart_go, .cart_delete, .edit, .add, .delete, 
.table_refresh, .table_filter, .table_go, 
.arrow_right, .arrow_left, 
.user_suit, .user_gray, .user_green, .user_orange, .user_red,
.door_in, .shield {
    text-indent: 20px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center left;
}

/* @end Links */


/* @group Tables */
table.list {
  width: 100%;
  margin-bottom: 4px;
  margin-top: 10px;
  border: 0;
  border-collapse: collapse;
  vertical-align: center;
/*  white-space:nowrap;*/
}
table.list thead {
  background: #f2f7ff url('../img/layout/bg-thead.png') repeat-x;
  background-position: top left;
  color: #507aaa;
  border: none;
/*  border-top: 1px solid #aac7e6;
  border-bottom: 1px solid #aac7e6;*/
  text-transform:uppercase;
  text-align: left;
}

table.list thead th {
  padding-left: 10px;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 0px;
  height: 30px;
  font-weight:normal;
  border-right: 1px solid #d1e3f2;
  border-right: 1px solid #e0eef9;
}

table.list tbody tr {
	border-bottom: solid 1px #ddd;
}

table.list tbody td, table.list tbody tr td {
  padding: 2px 5px 2px 5px;
  border: 1px solid #ebe9db;
}

table.list tbody tr:hover { 
  background-color:#ffc;
  background: #fff4ec;
}

table.list tbody tr.empty_row {
	height: 35px;
}

.odd  { background-color: #f6f7f8; }
.even { background-color: #ffffff; }
/* @end Tables */


/* @group Buttons */
.btn_wrapper      { float: right; }
.btn_wrapper_left { float: left;  }

a.btn_big, a.btn_small, a.btn_medium {
    color: #3d5051;
    display: block;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    height: 40px;
    padding-left: 10px;
}
a.btn_big {
    width: 265px;
    background: url('../img/layout/btn-big.gif') no-repeat;
}
a.btn_small {
    width: 130px;
    background: url('../img/layout/btn-small.gif') no-repeat;
}
a.btn_medium {
    width: 200px;
    background: url('../img/layout/btn-medium.gif') no-repeat;
}
a.btn_big:hover, a.btn_small:hover, a.btn_medium:hover  {
    text-decoration: none;
    color: #507AAA;
}

#sidebar a.btn_big:hover, 
#sidebar a.btn_small:hover, 
#sidebar a.btn_medium:hover  {
    text-decoration: none;
    color: #507AAA;
    background-color:transparent;
}
a.btn_big img, a.btn_small img, a.btn_medium img {
    border: 0px;
    margin-left: 14px;
    padding-top: 10px;
    margin-right: 8px;
    position: relative;
    float: left;
}
/* @end Buttons */


/* @group MESSAGES */
#main ul.messages {
  padding-left: 0;
}

#main ul.messages li {
    list-style-type: none;
}

.info, .warning, .error {
  background-position: 5px 1px;
  min-height: 28px;
  padding: 9px 0px 0px 50px;
  margin: 10px 0px 10px 0px;
}

.info {
    background: #ecf7fe url('../img/icons/msg-info.gif') no-repeat;
    border: 1px solid #caeaff;
    color: #2288c7;
}
.warning {
    background: #fff6e0 url('../img/icons/msg-warn.gif') no-repeat;
    border: 1px solid #fbdf9c;
    color: #f9a900;
}
.error {
    background: #ffe7dc url('../img/icons/msg-error.gif') no-repeat;
    border: 1px solid #fa7050;
    color: #e2350d;
}
/* @end */


ul#sortable {
  list-style-type: decimal;
}
ul#sortable li {
  float: left;
  margin-left: 0px;
  margin-right: 40px;
  padding: 5px;
}


/* @group PAGINATOR */
.paginator { font-size:11px; line-height:22px; margin-top: 5px; }
.paginator .end { border-width:2px !important; margin-right:6px; }
.paginator .this-page {
    padding:2px 6px;
    font-weight:bold;
    font-size:13px;
    vertical-align:top;
    color:#507aaa;
}
.paginator a:link, .paginator a:visited {
    padding:2px 6px;
    margin:1px;
    border:solid 1px #ccc;
    background:white;
    text-decoration:none;
}
.paginator a:hover { color: #FFF; background:#507aaa; }
/* @end PAGINATOR */


/* @group MISC */
#loadingDialog {
  background: url('../img/layout/wait.gif') no-repeat center;
  min-height: 30px;
}

p.info {
    background: url('../img/icons/information.png');
    display:inline-block;
    padding: 2px 0px 2px;
    padding-left: 20px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: center left;
}

.box{
  padding:6px;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  color:#505050;
  line-height:1.5em;
  border: 1px solid #e4e4e4;
}

.expired {
  background: #ddd;
  color: #999;
}
.soon_expired {
  background: #ffe7dc;
  color: #e2350d;
}

div.cleaner { clear:both; padding-bottom:5px; }
.splitcontentleft  { float:left;  width:49%; }
.splitcontentright { float:right; width:49%; }

tr.border-top-double {
  border-top: 2px double;
}

/* @end MISC */



/***** Media print specific styles *****/
@media print {
  #top-menu, #header, #main-menu, #sidebar, #footer, .contextual, .other-formats { display:none; }
  #main { background: #fff; }
  #content { width: 99%; margin: 0; padding: 0; border: 0; background: #fff; overflow: visible !important;}
	#wiki_add_attachment { display:none; }
  .hide-when-print { display: none; }
}