{# PAGE EQUIPES #}

{% extends "main_custom.html" %}
{% load filters %}

{% block menu_team %}selected{% endblock %}

{% block buttons %}
{% if user.is_superuser %}
  <div class="btn_wrapper">
    <a href="{% url team_new %}" class="btn_medium">
      <img src="{{ MEDIA_URL }}img/icons/add.png" />Ajouter une équipe
    </a>
  </div>
{% endif %}
{% endblock %}

{% block content %}
{% for team in team_list %}
  <div id="content" style="min-height:0">
    <div id="content_header"><h2>Equipe {{ team }}</h2></div>
    <table class="list">
      <thead>
          <th>Utilisateur</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Dernière connexion</th>
          <th>Action</th>
      </thead>
      <tbody>
        {% for member in team.members.all %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ member.user.username }}</td>
            <td>{{ member.user.get_full_name }}</td>
            <td>{{ member.user.email }}</td>
            <td>{{ member.user.last_login }}</td>
            <td>
              {% if member.user == user or user|is_admin or user.is_superuser %}
                <a href="{% url user_item member.id %}" class="pencil button">Editer</a>
              {% endif %}
              
              {% if member.user == user %}
                <a href="{% url change_password user.id %}" class="key button">
                  Changer de mot de passe
                </a>
              {% endif %}
              
              {% if user|is_admin or user.is_superuser %}
                <a href="{% url user_delete member.user.id %}" class="trash button confirmDialog">
                  Supprimer
                </a>
                {% if member.user.is_active %}
                  <a href="{% url user_toggle_active member.user.id %}" class="locked button">
                    Inactiver
                  </a>
                {% else %}
                  <a href="{% url user_toggle_active member.user.id %}" class="unlocked button">
                    Activer
                  </a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div class="cleaner"></div>
  </div>
{% endfor %}

{% if noteam %}
<div id="content" style="min-height:0">
  <div id="content_header"><h2>Utilisateurs non-affiliés</h2>
    <table class="list">
      <thead>
        <th>Utilisateur</th>
        <th>Dernière connexion</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for lonely_user in noteam %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ user.username }}</td>
            <td>{{ user.last_login }}</td>
            <td>
              {% if user.is_superuser or user|is_admin %}
                <a href="{% url add_user_to_team lonely_user.id %}" class="plus button teamDialog">
                  Affilier à une équipe
                </a>
              {% endif %}
              {% if user.is_superuser  %}
                <a href="{% url user_delete lonely_user.id %}" class="trash button confirmDialog">
                  Supprimer
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>  
{% endif %}

{# START: Add to team Dialog #}
<div id="teamDialog" title="Affiliation à une équipe">
  <div class="form-row">
    <label for="team">Equipe</label>
    <div class="cleaner"></div>
    <select name="team_id">
      {% for team in team_list %}
        <option value="{{ team.id }}">{{ team.name }}</option>
      {% endfor %}
    </select>
    <div class="cleaner"></div>
  </div>
</div>
{# END #}

{# START: Confirmation dialog for deleting a user #}
<div id="dialog-confirm" title="Confirmation requise">
  Êtes-vous sûr de vouloir supprimer cet utilisateur ?
</div>
{# END #}

{% endblock %}
