{% load i18n static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <meta name="robots" content="noindex, nofollow">
		<title>BCG-Lab {{SITE_NAME}} - création de compte</title>
    <link rel="stylesheet" href="{% static 'css/humanity/jquery-ui-1.10.3.custom.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />

    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.datepicker-fr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</head>

<body>
<div id="wrapper">
	<div id="login">
		<div id="header">
		    <h1>{{ SITE_NAME }}</h1>
		    <div class="cleaner"></div>
		    <h2 style="margin-left:20px;color:#64584b">BCG-Lab</h2>
		</div>
		<div id="in_login">
			<div id="login_subhead">Création d'un nouveau compte</div>
			<form action="{% url 'team_member:new_member' %}" method="POST" accept-charset="utf-8">{% csrf_token %}
				<input type="hidden" name="user" value="{{user_id}}" />
				{% with form.team as field %}
					{% include "form_snippet.html" %}
				{% endwith %}
				
				{% with form.first_name as field %}
					{% include "form_snippet.html" %}
				{% endwith %}
				
				{% with form.last_name as field %}
					{% include "form_snippet.html" %}
				{% endwith %}
				
				{% with form.email as field %}
					{% include "form_snippet.html" %}
				{% endwith %}
				<br />
				<button type="submit" class="check">Valider l'enregistrement</button>
			</form>
		</div>
		<div id="footer">
			<a href="{% url 'django.contrib.auth.views.login' %}">>> Retour à la page de connexion</a>
		</div>
	</div>
</div>
</body>
</html>
