{% extends "main_classic.html" %}

{% block menu_team %}selected{% endblock %}

{% block header %}Modification d'un utilisateur{% endblock %}

{% block content %}
<form action="{% url user_item member.id %}" method="post">{% csrf_token %}
    <input type="hidden" name="method" value="PUT" />
    <p class="instructions">
      <em>Les champs marqués d'une étoile sont obligatoires</em>
    </p>
    {% for field in form %}
        {% include "form_snippet.html"%}
    {% endfor %}
    <button type="submit" class="button">Valider</button>
</form>
{% endblock %}
