{% extends "base_main.html" %}
{% load filters static %}

{% block menu_bugs %}active{% endblock %}

{% block header %}
<div class="btn_wrapper">
  <a href="{% url 'issues:index' %}?fixed=True" class="btn_medium">
    <img src="{% static 'img/icons/flag_green.png' %}" />Voir résolus
  </a>
</div>
<div class="btn_wrapper">
  <a href="{% url 'issues:index' %}" class="btn_medium">
    <img src="{% static 'img/icons/flag_red.png' %}" />Voir non résolus
  </a>
</div>
<div class="btn_wrapper">
  <a href="{% url 'issues:new' %}" class="btn_small">
    <img src="{% static 'img/icons/bug_add.png' %}" />Ajouter
  </a>
</div>
<h1>Bugs et améliorations</h1>
<h2>Liste des bugs ({{issues|length}} déclarés)</h2>
{% endblock %}

{% block content %}
<table class="list">
  <thead>
    <th>#</th>
    <th>Titre</th>
    <th>Type</th>
    <th>Priorité</th>
		{% if not show_fixed %}
			<th>Statut</th>
		{% endif %}
    <th>Utilisateur</th>
    <th>Date création</th>
    {% if show_fixed %}
    	<th>Date fermeture</th>
    {% endif %}
  </thead>
  <tbody>
    {% for issue in issues %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td>{{ issue.id }}</td>
        <td>
          <a href="{% url 'issues:item' issue.id %}">{{ issue.title }}</a>
        </td>
        <td>{{ issue.get_issue_type_display }}</td>
        <td>{{ issue.get_severity_display }}</td>
				{% if not show_fixed %}
					<td>{{ issue.get_status_display }}</td>
				{% endif %}
        <td>{{ issue.username }}</td>
        <td>{{ issue.date_created|date }}</td>
				{% if show_fixed %}
					<td>{{ issue.date_closed|date }}</td>
				{% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
