{% extends "base_main.html" %}
{% load filters static %}

{% block menu_bugs %}active{% endblock %}

{% block header %}
  <div class="btn_wrapper">
    <a href="{% url 'issue_delete' issue.id %}" class="btn_small">
      <img src="{% static 'img/icons/cross.png' %}" />Supprimer
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url 'issue_status' issue.id 1 %}" class="btn_small">
      <img src="{% static 'img/icons/bug_edit.png' %}" />En cours
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url 'issue_status' issue.id 2 %}" class="btn_small">
      <img src="{% static 'img/icons/bug_link.png' %}" />Doublon
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url 'issue_status' issue.id 4 %}" class="btn_small">
      <img src="{% static 'img/icons/bug_go.png' %}" />Résolu
    </a>
  </div>
  <h1>Bugs et améliorations</h1>
  <h2>Modification d'un bug</h2>
{% endblock %}

{% block content %}
<h2>{{ issue.title }}</h2>
<form action="{% url 'issue_item' issue.id %}" method="post">{% csrf_token %}
  <p class="instructions">
    <em>Les champs marqués d'une étoile sont obligatoires</em>
  </p>
  <fieldset>
    {% for field in form %}
        {% include "form_snippet.html"%}
    {% endfor %}
  </fieldset>
  
  <button type="submit" class="check">Valider</button>
	<a href="{% url 'issue_index' %}" class="back">Retour</a>
</form>
{% endblock %}
