/* @group General */
* { margin: 0; padding: 0; }
html, body { height: 100%; }
body {
	background: #fdfdfb url('../img/layout/bg-body.gif') repeat-x;
	font: 12px/1.5 Trebuchet MS,Tahoma,Verdana,"Lucida Grande",Helvetica,Arial,sans-serif;
	text-align: center; /* IE6 hack */
}
/* @end */

/* @group Layout */
#wrapper {
	min-height: 100%;
	width: 1280px;
	text-align: left;
	margin: auto;
}
#main {
	margin-top: 20px;
	padding-bottom: 100px;
	overflow: auto;
}
#footer {
	position: relative;
	margin-top: -80px;
	height: 80px;
	clear:both;
	background: #51473d url('../img/layout/bg-footer.jpg') repeat-x top;
}
/* @end */

/* @group Titles */
h1 {
	font-size: 26px;
	font-weight: 500;
	color: #ff8d07;
}
h2 {
	font-size: 18px;
	font-weight: 500;
	color: #51473d;
	height: 25px;
	margin-bottom: 20px;
}
h3 {
	font-size: 14px;
	font-weight: 500;
	color: #51473d;
	margin-bottom: 10px;
}
h4 {
	color: #51473d;
}
h5 {
	color: #51473d;
}

em {
	color: #51473d;
}
ul {
	list-style-type: none;
}
ol {
	padding-left: 20px;
}
/* @end */


/* @group Header */
#header {
	height:	 150px;
}

/* @group Top */

#top {
	width: 240px;
	height: 24px;
	display: block;
	background: #51473d url('../img/layout/bg-top.gif') no-repeat;
	float: right;
	text-align: center;
}
	a#top_profil {
		line-height: 24px;
		color: #ebe8d4;
		text-decoration: none;
		background: url('../img/icons/user.png') no-repeat;
		padding-left: 20px;
	}
	a#top_profil:hover {
		text-decoration: underline;
	}
	a#top_logout {
		color: #797066;
		text-decoration: none;
	}
	a#top_logout:hover {
		color: #ebe8d4;
	}

/* @end */

#header h1 {
    margin-top: 8px;
    float: left;
}

#header h1 a {
	color: #EAE7D2;
	text-decoration: none;
}

#header h2 {
    margin-bottom: 17px;
    color: #a08d7b;
}

/* @group Navigation */

#header ul#navigation {
	height: 30px;
	list-style: none;
}
	#header ul#navigation li {
		float: left;
		min-width: 98px;
		height: 30px;
		overflow: hidden;
		font-size: 13px;
	}

	#header ul#navigation li a {
		display: block;
		float: left;
		min-width: 98px;
		height: 30px;
		line-height: 30px;
		background: #625b52 url('../img/layout/bg-nav.gif') no-repeat;
		background-position: 0px 0px;
		color: #eae7d2;
		text-decoration: none;
		text-align: center;
	}
	#header ul#navigation li a:hover {
		background: #766d63 url('../img/layout/bg-nav.gif') no-repeat;
		background-position: 0px -30px;
		color: #eae7d2;
	}
	#header ul#navigation li.active a {
		background: #f0eedf url('../img/layout/bg-nav.gif') no-repeat;
		background-position: 0px -60px;
		color: #51473d;
	}

#header ul#subnav {
	min-height: 28px;
	margin-top: 0px;
}
#header ul#subnav li {
	float: left;
	padding: 0 15px;
	height: 28px;
	line-height: 28px;
	display: block;
	background: url('../img/layout/split-subnav.gif') no-repeat;
	background-position: right bottom;
}
#header ul#subnav li.last {
	background: none;
}
#header ul#subnav li.active a {
	color: #ff8d07;
	font-weight: bold;
}

#header ul#subnav li a {
	color: #51473d;
	display: block;
}
#header ul#subnav li a:hover {
	color: #ff8d07;
	text-decoration: none;
}
/* @end */

/* @group General */

.noborder, #header li.noborder {
	border: 0px;
}
.last{
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.cleaner {
	clear:both;
	height:1px;
	font-size:1px;
	border:none;
	margin:0;
	padding:0;
	background:transparent;
}
.little {
	font-size: 11px;
}
.scrollable {
	overflow: auto;
}
.noborder {
	border: 0px;
}
.nomargin {
	margin: 0px;
}
.nopadding {
	padding: 0px;
}
/* @end */

/* @group Links */
.btn_wrapper {
	float: right;
}

.btn_wrapper_left {
	float: left;
}

a.btn_big, a.btn_small, a.btn_medium, a.btn_form {
	display: block;
	line-height: 36px;
	color: #51473d;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	height: 40px;
	/*padding-left: 20px;*/
}
a.btn_big {
	width: 265px;
	background: url('../img/layout/btn-big.gif') no-repeat;
}

.btn_form {
	width: 87px;
	height: 16px;
	background: url('../img/layout/button.png') no-repeat;
	text-align: center;
	padding : 6px;
	line-height: 16px;
	display: inline-block;
	font-size: 11px;
}

a.btn_form:hover {
	text-decoration: none;
}

a.btn_small {
	width: 130px;
	background: url('../img/layout/btn-small.gif') no-repeat;
}
a.btn_medium {
	width: 200px;
	background: url('../img/layout/btn-medium.gif') no-repeat;
}
a.btn_big:hover, a.btn_small:hover, a.btn_medium:hover	{
	text-decoration: none;
	color: #ff8d07;
}
a.btn_big img, a.btn_small img, a.btn_medium img {
	border: 0px;
	margin-left: 20px;
	padding-top: 10px;
	margin-right: 10px;
	position: relative;
	float: left;
}

a, a.active {
	color: #f65c1f;
	text-decoration: none;
}
a.visited {
	color: #f78e25;
}
a:hover {
	text-decoration: underline;
}

.edit{
	background: url('../img/icons/application_form_edit.png');
}
a.pdf{
	background: url('../img/icons/page_white_acrobat.png');
}
a.csv{
	background: url('../img/icons/page_white_excel.png');
}
a.hide {
	background: url('../img/icons/hide.png');
}
a.expand {
	background: url('../img/icons/expand.png');
}
a.wand {
	background: url('../img/icons/wand.png');
}
a.deselect {
	background: url('../img/icons/deselect.png');
}
a.xls {
	background: url('../img/icons/xls.png');
}
a.fix {
	background: url('../img/icons/wrench.png');
}
a.book {
	background: url('../img/icons/book_open.png');
}
a.bricks {
	background: url('../img/icons/bricks.png');
}
a.table_go {
	background: url('../img/icons/table_go.png');
}
.table {
	background: url('../img/icons/table.png');
}
a.table_refresh {
	background: url('../img/icons/table_refresh.png');
}
a.folder_go {
	background: url('../img/icons/folder_go.png');
}
a.add {
	background: url('../img/icons/add.png');
}
.cross {
	background: url('../img/icons/cross.png');
}
a.error {
	background: url('../img/icons/error.png');
}
a.info {
	background: url('../img/icons/information.png');
}
a.group_edit {
	background: url('../img/icons/group_edit.png');
}
.script{
	background: url('../img/icons/script.png');
}

.folder_edit{
	background: url('../img/icons/folder_edit.png');
}

.print{
	background: url('../img/icons/print.png');
}
a.script_error{
	background: url('../img/icons/script_error.png');
}
.get_details{
	background: url('../img/icons/zoom.png');
}
a.settings_details{
	background: url('../img/icons/application_form_magnify.png');
}
a.copy {
	background: url('../img/icons/page_copy.png');
}
a.divide{
	background: url('../img/icons/arrow_divide.png');
}
a.aggregate{
	background: url('../img/icons/arrow_join.png');
}
.edit, a.hide, a.expand, a.wand, a.deselect, a.xls, a.fix, a.book,
a.bricks, a.table_go, .table, a.folder_go, a.add, .cross, a.error, a.hardware,
a.table_refresh, a.group_edit, a.info, a.pdf, a.package_go, a.csv, 
.script, a.script_error, .get_details, .folder_edit,
a.settings_details, a.copy, a.divide, a.aggregate {
	display:inline-block;
	padding: 2px 0px 2px 19px;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: center left;
}
a.hide, a.expand {
	margin-top: -2px;
	line-height: 25px;
}
a.sifac {
  color: #f42514;
}
a.xlab {
  color: #18a70b;
}

a.mail_title {
	color: #3e362f;
	font-style: italic;
}
a.mail_title:hover {
	color: #f78e25;
}
a.img_border img {
	border: 4px solid #d6d2ca;
}
a.img_border:hover img {
	border: 4px solid #f78e25;
}
a.empty_tube, a.filled_tube, a.over_tube {
	height: 20px;
	width: 20px;
	display: block;
	overflow: hidden;
	text-indent: -5000px;
}
a.empty_tube {
	background: url('../img/icons/empty-tube.png') no-repeat top left;
}
a.filled_tube {
	background: url('../img/icons/filled-tube.png') no-repeat top left
}
a.empty_tube:hover, a.filled_tube:hover, a.selected {
	background: url('../img/icons/over-tube.png') no-repeat top left
}
/* @end */

div.error {
	background: #fff2ec;
	border:1px solid #FA7050;
	color:#E2350D;
	margin-bottom: 5px;
	padding-left: 10px;
}

ul.errorlist{
	float: left;
	margin-top: 6px;
}

div.form-row {
	margin-top:8px;
	margin-bottom:8px;
}

div.form-row.error {
	background: #fff6e0;
	border: 1px solid #fbdf9c;
	color: #f9a900;
	
	background: #ffe7dc;
	border: 1px solid #fa7050;
	color: #e2350d;
	
	margin-bottom: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 6px #999;
	-webkit-box-shadow: 0px 0px 6px #999;
	border-radius: 10px;
}

div.form-row.error ul.errorlist {
	float: right;
	margin: 0;
	padding: 0;
}

div.form-row.error ul.errorlist li {
	border: 0;
	list-style-type: none;
	min-height: 28px;
	padding: 9px 0px 0px 40px;
/*	background: #fff6e0 url('../img/icons/msg-warn.gif') no-repeat;
	color: #f9a900;*/
	background: #ffe7dc url('../img/icons/msg-error.gif') no-repeat;
	color: #c23c00;
	font-size:14px;
}

div.form-row.error label {
	width: 210px;
}
ul.brown_arrow li, ul.errorlist li {
	background: url('../img/layout/brown-arrow.gif') no-repeat;
	background-position: 0px 6px;
	color:#51473D;
	font-size:12px;
	font-style:italic;
	font-weight:500;
	padding-left: 10px;
}

/* @end */

/* @group Table */
table.list {
	width: 100%;
	border-collapse: collapse;
	color: #51473d;
	/*margin-top: 10px;*/
	vertical-align:middle;
/*	white-space:nowrap;*/
}

table.list thead {
	/*height: 32px;*/
	background: #89bf2c url('../img/layout/bg-table-head.gif') repeat-x;
	background-position: top left;
}

table.list thead th {
	border-right: 1px solid #b4d645;
	padding: 5px 10px;
	color: #fff;
	font-size:14px;
}
table.list thead th.last {
	border-right: none;
}

table.list tbody tr {
	height: 32px;
	/*line-height: 32px;*/
	/*text-indent: 10px;*/
	border-bottom: 1px solid #e0dcc9;
}
table.list tbody tr td {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ebe9db;
}

table.list tbody tr.even {
	background: #fffefa;
}
table.list tbody tr.odd {
	background: #f1efe3;
}

table.list tbody tr:hover {
	background: #e9f6be;
	cursor: default;
}

table.list tbody tr.even.highlight_orange {
	background: #f6e6be;
}
table.list tbody tr.odd.highlight_orange {
	background: #ecd6a2;
}
table.list tbody tr.incoming_event {
	background-color: #ecf7fe;
	color: #2288c7;
}
table.list tbody tr.urgent_event {
	background-color: #fff4d8; /*#fff6e0;*/
	color: #f9a900;
}
table.list tbody tr.passed_event {
	background-color: #ffe7dc;
	color: #e2350d;
}
table.list tbody tr.passed_event a, table.list tbody tr.urgent_event a,
table.list tbody tr.incoming_event a{
	color: #51473D;
}

table.list tbody tr.empty_row, table.list tbody tr.empty_row_orders {
	height: 35px;
	border-right:0;
	border-left:0;
}
table.list tbody tr.empty_row:hover, table.list tbody tr.empty_row_orders:hover {
	background: none;
}
table.list tbody tr.empty_row td {
	border-bottom:2px solid #51473d;
	border-right:0;
	border-left:0;
}
table.list tbody tr.empty_row td, table.list tbody tr.empty_row_orders td {
	border-right:0;
	border-left:0;
}
table.list tr.disabled {
	color:#ccc;
}


.user_suit	 { background: url('../img/icons/user_suit.png');		}
.user_gray	 { background: url('../img/icons/user_gray.png');		}
.user_green	 { background: url('../img/icons/user_green.png');	}
.user_red		 { background: url('../img/icons/user_red.png');		}
.user_orange	 { background: url('../img/icons/user_orange.png');	}
.door_in		 { background: url('../img/icons/door_in.png')		}
.shield		 { background: url('../img/icons/shield.png')			}
.user_suit, .user_gray, .user_green, .user_orange, .user_red,
.door_in, .shield {
	text-indent: 20px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center left;
}


table.multiple_input {
	width: 50%;
	white-space:nowrap;
	vertical-align:top;
}

table.multiple_input thead th, table.multiple_input tr th {
	background: #efeddd;
	border-bottom: 2px solid #e0dcc9;
	color: #51473d;
	height: 24px;
	line-height: 24px;
	padding: 0px 10px 0px 10px;
}
table.multiple_input thead th.empty {
	background: none;
	border: 0px;
}
table.multiple_input tbody tr td {
	vertical-align:top;
}
table.multiple_input tbody tr td input {
	padding: 4px 0px 4px;
	height: 18px;
	font-size: 11px;
}
table.multiple_input input[type="checkbox"] {
	height: auto;
	width: auto;
	margin-right: 10x;
}


/* @end */

/* @group Messages */
.info, .warning, .error {
	background-position: 5px 1px;
	min-height: 28px;
	padding: 9px 0px 0px 50px;
	margin: 10px 0px 10px 0px;
}
.info {
	background: #ecf7fe url('../img/layout/msg-info.gif') no-repeat;
	border: 1px solid #caeaff;
	color: #2288c7;
}
.warning {
	background: #fff6e0 url('../img/layout/msg-warn.gif') no-repeat;
	border: 1px solid #fbdf9c;
	color: #f9a900;
}
.error {
	background: #ffe7dc url('../img/layout/msg-error.gif') no-repeat;
	border: 1px solid #fa7050;
	color: #e2350d;
}
/* @end */


.bar {
	background-color: #f78e24;
	border-bottom: 2px solid #f65c1f;
	height: 25px;
	line-height: 25px;
}
	.bar h4 {
		color: #fff;
		margin-left: 10px;
	}
	.bar a {
		float: right;
		color: #fff;
		height: 25px;
		background-position: center left;
		margin-right: 10px;
	}
.bar_content {
	margin-top: 1px;
	border: 1px solid #efeddd;
	background: #fdfcfa url('../img/layout/bg-bar-content.gif') repeat-x;
	min-height: 75px;
	padding: 10px;
	overflow:auto;
}

/* @group Misc */
.button, .button_medium, .button_big {
	height: 25px;
	color: #51473d;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 6px;
	border: 0px;
	padding: 0px;
	line-height: 25px;
	/*text-transform: uppercase;*/
	cursor: pointer;
}

button.btn_small, button.btn_medium, button.btn_big {
	border: 0px;
	color: #51473d;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*padding-left: 20px;*/
	cursor: pointer;
}
button.btn_big {
	width: 265px;
	background: url('../img/layout/btn-big.gif') no-repeat;
}
button.btn_small {
	width: 130px;
	background: url('../img/layout/btn-small.gif') no-repeat;
}
button.btn_medium {
	width: 200px;
	background: url('../img/layout/btn-medium.gif') no-repeat;
}

button.btn_small img, button.btn_medium img, button.btn_big img {
	vertical-align: top;
	/*position: absolute;
	margin-left: -20px;*/
}

/* PAGINATOR */
.paginator {
	font-size:11px;
	line-height:22px;
	margin:0;
}
.paginator a:link, .paginator a:visited {
	padding:2px 6px;
	margin:1px;
	border:solid 1px #ccc;
	background:white;
	text-decoration:none;
}
.paginator a.showall {
	padding:0 !important;
	border:none !important;
}
.paginator a.showall:hover {
	color:#036 !important;
	background:transparent !important;
}
.paginator .end {
	border-width:2px !important;
	margin-right:6px;
}
.paginator .this-page {
	padding:2px 6px;
	font-weight:bold;
	font-size:13px;
	vertical-align:top;
	color:#F65C1F;
	/*border:dashed 1px #ccc;*/
}
.paginator a:hover {
	color: #FFF;
	background:#F65C1F;
}
/* END PAGINATOR */

/* MISC */

table.list tbody tr.is_urgent { background: #ffe7dc; color: #e2350d; }
table.list tbody tr.has_problem { background: #fff6e0; color: #f9a900; }
table.list tbody tr.expired { color:#E2350D; }
table.list tbody tr.soon_expired { color: #f9a900; }

div.legend_urgent {
	float:left;
	width:50px;
	height:20px;
	background:#ffe7dc;
	border: 1px solid #e2350d;
	margin-right:10px;
	margin-bottom: 3px;
}
div.legend_problem {
	float:left;
	width:50px;
	height:20px;
	background:#fff6e0;
	border: 1px solid #f9a900;
	margin-right:10px;
}

p.help {
	clear:both;
	color:#51473d;
	font-size:10px !important;
	margin-bottom: 5px;
}
.margin-left{
	margin-left:261px;
}
#notesDialog textarea {
	height: 130px;
	width: 300px;
}
.saving {
    text-align: center;
    display: none;
    margin:auto;
}


/* END MISC */

/* ORDER DETAIL STYLE */
h2.order-title {
	background-color: #51473d;
	color: #EAE7D2;
	padding: 10px;
	margin: 0;
}

div.order {
	background: #fefaed;
	padding: 10px;
	border:1px solid #51473d;
	margin-bottom: 20px;
}

div.order h3 {
	padding-bottom: 3px;
	border-bottom: 1px solid #e1ddda;
	clear: both;
}

div.order textarea {
	padding: 5px;
	border: 1px solid #e0dcc9;
	min-width: 300px;
	max-width: 600px;
	min-height: 50px;
	max-height: 50px;
}
	div.order textarea:focus {
		border: 1px solid #BFBAA4;
	}

form#credit_form, form#debit_form {
	display: none;
}

ul#sortable {
  list-style-type: decimal;
}
ul#sortable li {
  float: left;
  margin-left: 0px;
  margin-right: 40px;
  padding: 5px;
}

.search_results {
    float: left;
    width: 1100px;
    margin-left: 30px;
}

.faceting {
    float: left;
    width: 150px;
}
.faceting h4 {
    border-bottom: 1px solid #666;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.faceting li {
    padding-left:10px;
}
