{% extends "base_main.html" %}
{% load filters %}

{% block menu_home %}active{% endblock %}

{% block header %}
<h1>Accueil</h1>
<h2>Informations</h2>
{% endblock %}

{% block content %}
<form action="{% url info_item info.id %}" method="POST">{% csrf_token %}
	<h3>Modification d'une information</h3>
	<fieldset>
		<label for="provider">Fournisseur</label>
		<input type="text" name="provider" id="provider" />
		<div class="cleaner"></div>
  {% for field in form %}
    {% include "form_snippet.html"%}
  {% endfor %}
	</fieldset>
  
  <button type="submit" class="check">Valider</button>
	<a href="{% url info_index %}" class="back">Retour</a>
</form>	
{% endblock %}
