{% extends "base_admin.html" %}
{% load filters static %}
{% block menu_group %}active{% endblock %}

{% block header %}
  <h1>Administration</h1>
  <h2>Gestion des groupes</h2>
{% endblock %}

{% block content %}
<form action="{% url 'group_index' %}" method="POST">{% csrf_token %}
  <h3>Ajout d'un nouveau groupe</h3>
  <fieldset>
    {% for field in form %}
      {% include "form_snippet.html" %}
    {% endfor %}
  </fieldset>
  
  <button type="submit" class="check">Valider</button>
</form>
{% endblock %}