{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_secretary_orders %}selected{% endblock %}
{% block content %}

<div id="content" style="min-height:0">
  <div id="content_header"><h2>Gestion des commandes</h2></div>
  
  {% if orders.object_list %}
    <table class="list">
      <thead>
        <th>Date</th>
        <th>Fournisseur</th>
        <th>Equipe</th>
        <th>Budget</th>
        <th>Prix</th>
        <th>Statut</th>
        <th>Dernière MAJ</th>
        <th>Action</th>
      </thead>
      
      <tbody>
        {% for order in orders.object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ order.date_created|date }}</td>
            <td>{{ order.provider.name }}</td>
            <td>{{ order.team.name }}</td>
            <td>
              {# <a href="{% url change_budget order.id %}" class="button budgetLineDialog"> #}
              {#   {{ order.budget.name }} #}
              {# </a> #}
            </td>
            <td>{{ order.price }} €</td>
            <td>
              <b>{{ order.get_status_display }}</b>
              {% if order.date_delivered %}
                <b>le {{ order.date_delivered|date }}</b>
              {% endif %}
            </td>
            <td>{{ order.last_change|date }}</td>
            
            {# ACTION LINKS - MODIFYING ORDER STATUS #}
            <td>
              {% if user|is_secretary %}
                <a href="{% url set_next_status order.id %}" class="next-status button {% if order.status == 4 %}deliveryDialog{% endif %}">
                  {% if order.status == 2 %}
                    Vu par la gestionnaire
                  {% else %}{% if order.status == 3 %}
                    Envoyée au fournisseur
                  {% else %}{% if order.status == 4 %}
                    Commande réceptionnée
                  {% endif %}{% endif %}{% endif %}
                </a>
              {% endif %}
              <a href="{{ order.get_absolute_url }}" class="zoomin button">
                Voir détail
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% pagination orders %}
    <div class="cleaner"></div>
  {% else %}
    <p>Aucune commande en cours.</p>
  {% endif %}
</div>


{# ################## #}
{#                    #}
{#      DIALOGS       #}
{#                    #}
{# ################## #}

<div id="dialog-delivery" title="Détails livraison">
  <div class="form-row">
    <label for="delivery_date">Date de livraison (jj/mm/aaaa):</label>
    <div class="cleaner"></div>
    <input type="text" name="delivery_date" class="datepicker" />
    <div class="cleaner"></div>
    <label for="order_nb">N° de commande:</label>
    <div class="cleaner"></div>
    <input type="text" name="order_nb" />
    <div class="cleaner"></div>
  </div>
</div>

<div id="dialog-order-nb" title="Détails livraison">
  <div class="form-row">
    <label for="delivery_date">Date de livraison (jj/mm/aaaa):</label>
    <div class="cleaner"></div>
    <input type="text" name="delivery_date" class="datepicker" />
    <div class="cleaner"></div>
    <label for="order_nb">N° de commande:</label>
    <div class="cleaner"></div>
    <input type="text" name="order_nb" />
    <div class="cleaner"></div>
  </div>
</div>

<div id="dialog-budget-line" title="Choisir une ligne budgétaire">
  <div class="form-row">
    <label for="budget_line">Ligne budgétaire</label>
    <div class="cleaner"></div>
    <input type="text" name="budget_line" value="0" />
  </div>
</div>

{% endblock %}
