<h2 style="padding-bottom: 3px;border-bottom: 1px solid #e1ddda;" class="hide_on_save">Recherche avancée</h2>
<form action="{% url 'product:list' %}" method="GET" class="show_wait hide_on_save">
  <fieldset>
    <strong>Chercher les produits qui correspondent à {{ filter_form.connector }} conditions suivantes:</strong>
    {% with filter_form.provider as field %}
      {% include "form_snippet.html" %}
    {% endwith %}
    {% with filter_form.origin as field %}
      {% include "form_snippet.html" %}
    {% endwith %}
    {% with filter_form.name__icontains as field %}
      {% include "form_snippet.html" %}
    {% endwith %}
    {% with filter_form.reference as field %}
      {% include "form_snippet.html" %}
    {% endwith %}
    {% with filter_form.nomenclature as field %}
      {% include "form_snippet.html" %}
    {% endwith %}
    {% with filter_form.category as field %}
      {% include "form_snippet.html" %}
    {% endwith %}
    {% with filter_form.sub_category as field %}
      {% include "form_snippet.html" %}
    {% endwith %}
    <label for="has_expired">Date d'expiration dépassée ?</label>
    <input type="checkbox" id="has_expired" name="has_expired" />
    <div class="cleaner"></div>
    
    <label for="is_valid">Date d'expiration valide ?</label>
    <input type="checkbox" id="is_valid" name="is_valid" />
    
    <div class="cleaner"></div>
    <button type="submit" class="all">Chercher</button>
  </fieldset>
</form>