{% extends "base_products.html" %}

{% block header %}
<h1>Gestion des produits</h1>
<h2>Suppression d'un produit</h2>
{% endblock %}

{% block content %}
<p>La suppression d'un produit est définitive et l'ensemble
des commandes en cours lui étant rattachées seront également supprimées.</p>
<p>Êtes-vous sûr de vouloir supprimer ce produit ?</p>

<form action="{% url 'product:delete' product.id %}" method="post">{% csrf_token %}
  <button type="submit" class="trash">Supprimer</button>
  <a href="{% url 'product:list' %}" class="back">Abandonner la suppression</a>
</form>
{% endblock %}
