{% extends "base_products.html" %}
{% load paginator filters static %}
{% block product_edit_list %}active{% endblock %}

{% block header %}
<h1>Gestion des produits</h1>
<h2>Editer une liste de produits</h2>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
<form action="{% url 'product_edit_list' %}" method="POST" style="margin-bottom:20px">{% csrf_token %}
	<h3>Appliquer les modifications suivantes à l'ensemble des produits cochés</h3>
	<input type="hidden" name="url_args" value="{{url_args}}" />
	<input type="hidden" name="delete_all" value="" />
	
	<fieldset>
		{% for field in edit_form %}
			{% include "form_snippet.html" %}
		{% endfor %}
	</fieldset>
	
	<button type="submit" class="check">
		Appliquer les modifications
	</button>
	
	<button type="submit" class="trash confirmSubmit">
		Supprimer les produits sélectionnés
	</button>
	
	<a href="{% url 'product_index' %}" class="back">
		Effectuer une nouvelle recherche
	</a>
	<div class="cleaner"></div><br />
	
	<strong>{{ product_list|length }} produits trouvés:</strong><br /><br />
	<table class="list">
		<thead>
				<th><input type="checkbox" checked="checked" name="edit_all" /></th>
				<th>Fournisseur</th>
				<th style="max-width:200px">produit</th>
				<th>T / ST</th>
				<th>Cond.</th>
				<th>Réf.</th>
				<th>Prix</th>
				<th>N° Offre</th>
				<th>Expiration</th>
				<th>Nomen.</th>
				<th>MAJ</th>
		</thead>
		<tbody>
			{% for product in product_list %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td><input type="checkbox" class="edited_item" name="product_{{product.id}}" checked="checked" /></td>
				<td>{{ product.provider.name }}{% if product.origin %} - {{ product.origin }}{% endif %}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.category|default:"" }} / {{ product.sub_category|default:"" }}</td>
				<td>{{ product.packaging|default:"" }}</td>
				<td>{{ product.reference }}</td>
				<td>{{ product.price }}&nbsp;€</td>
				<td>{{ product.offer_nb|default:"" }}</td>
				<td>{{ product.expiry|date }}</td>
				<td>{{ product.nomenclature|default:"" }}</td>
				<td>{{ product.last_change|date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>

<div id="confirmSubmit" class="dialog" title="Confirmation requise">
	ATTENTION: Veuillez confirmer la suppression des produits sélectionnés.
	La suppression sera définitive.
</div>

{% endblock %}
