{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}
<fieldset>
    {% with form.provider as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.origin as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.name as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.reference as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.price as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.offer_nb as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.packaging as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.nomenclature as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.category as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.sub_category as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.expiry as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
</fieldset>
