<fieldset>
    {% with form.provider as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.origin as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.name as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.reference as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.price as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.offer_nb as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.packaging as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.nomenclature as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.category as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.sub_category as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
    {% with form.expiry as field %}
        {% include "form_snippet.html"%}
    {% endwith %}
</fieldset>
