{% extends "main_classic.html" %}

{% block menu_product %}selected{% endblock %}
{% block header %}Nouveau produit ({{provider.name}}){% endblock %}

{% block content %}
<form action="{% url product_index %}" method="post">{% csrf_token %}
    <input type="hidden" name="provider" value="{{provider.id}}" />
    <p class="instructions">
      <em>Les champs marqués d'une étoile sont obligatoires</em>
    </p>
    {% for field in form %}
        {% include "form_snippet.html"%}
    {% endfor %}
    <button type="submit" class="check button">Valider</button>
</form>
{% endblock %}
