{# PAGE PRODUITS #}

{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_product %}selected{% endblock %}

{% block content %}

{% if products %}

{# Start: FILTER FORM #}
<div id="content" style="min-height:0" class="collapsable">
  <h2>Recherche avancée</h2>
  <div class="content">
    <form action="{% url product_index %}" method="GET" id="history_filter">{% csrf_token %}
      <strong>Chercher les produits qui correspondent à {{ filter_form.connector }} conditions suivantes:</strong>
      <div class="cleaner"></div>
      <table>
        <tr>
          <td>Fournisseur:</td>
          <td>{{ filter_form.provider }}</td>
          <td width="10%"></td>
          <td>Produit:</td>
          <td>{{ filter_form.name }}</td>
          <td width="10%"></td>
          <td>Référence:</td>
          <td>{{ filter_form.reference }}</td>
        </tr>
      </table>
      <div class="cleaner"></div>
      <button type="submit" class="all">Chercher</button>
      <a href="{% url product_index %}" class="refresh">Liste globale</a>
    </form>
  </div>
</div>
{# End: FILTER FORM #}

<div class="cleaner"></div>

{# START: Product list #}
<div id="content" style="min-height:0">
  <div id="content_header">
    <h2>Liste des produits - Page {{ products.number }} sur {{ products.paginator.num_pages }}.</h2>
  </div>
  
  {% pagination products %}
  <table class="list">
    <thead>
        <th>Fournisseur</th>
        <th style="max-width:200px">produit</th>
        <th>Cond.</th>
        <th>Réf.</th>
        <th>Prix</th>
        <th>N° Offre</th>
        <th>Expiration</th>
        <th>Nomen.</th>
        <th>MAJ</th>
        <th>Action</th>
    </thead>
    
    <tbody>
      {% for product in products.object_list %}
        <tr class="{% cycle 'even' 'odd' %} {% if product.has_expired %}expired{% else %}{% if product.soon_expired %}soon_expired{% endif %}{% endif %}">
          <td>{{ product.provider.name }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.packaging }}</td>
          <td>{{ product.reference }}</td>
          <td>{{ product.price }}&nbsp;€</td>
          <td>{{ product.offer_nb|default:"" }}</td>
          <td>{{ product.expiry|date }}</td>
          <td>{{ product.nomenclature|default:"" }}</td>
          <td>{{ product.last_change|date }}</td>
          <td style="white-space:nowrap">
            <button id="{{product.id}}" class="plus addToCart noloading">
              Panier
            </button>
            <a href="{% url product_item product.id %}" class="pencil">Editer</a>
            {# {% if product|is_in_charge:user or user|is_admin %} #}
            {#   <a href="{% url product_item product.id %}" class="pencil">Editer</a> #}
            {# {% endif %} #}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    
    <tfoot>
      <tr><td colspan="9">{% pagination products %}</td></tr>
    </tfoot>
  </table>
</div>
{# END: Product list #}

{% endif %}


<div id="addToCart" class="dialog" title="Saisissez la quantité à commander">
  <form action="{% url cart_add %}" method="POST" style="padding:0">{% csrf_token %}
    <input type="hidden" name="url_params" value="{{url_params}}" />
    <input type="hidden" name="product_id" value="" />
    <div class="form-row">
      <div id="qty-error-msg"></div>
      <label for="quantity">Quantité</label>
      <div class="cleaner"></div>
      <input type="text" name="quantity" value="" />
      <div class="cleaner"></div>
    </div>
  </form>
</div>

{% endblock %}
