{# PAGE PRODUITS #}

{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_product %}selected{% endblock %}

{% block content %}

{% if products %}

{# START: Filter box #}
<div id="content" style="float:left;min-height:0;margin-right:10px">
  <h2>Filtrer par fournisseur</h2>
  <form action="{% url product_index %}" method="get">
    <table>
      <tr>
        <td>{{ filter_form.provider }}</td>
        <td>
          <button type="submit" class="all button">Filtrer</button>
        </td>
        <td>
          <a href="{% url product_index %}" class="refresh button">Liste globale</a>
        </td>
      </tr>
    </table>
  </form>
</div>
<div id="content" style="float:left;min-height:0">
  <h2>Filtrer par produit</h2>
  <form action="{% url product_index %}" method="get">
    <table>
      <tr>
        <td>{{ filter_form.product }}</td>
        <td>
          <button type="submit" class="all button">Filtrer</button>
        </td>
        <td>
          <a href="{% url product_index %}" class="refresh button">Liste globale</a>
        </td>
      </tr>
    </table>
  </form>
</div>
{# END: Filter box #}

<div class="cleaner"></div>

{# START: Product list #}
<div id="content" style="min-height:0">
  <div id="content_header">
    <h2>Liste des produits - Page {{ products.number }} sur {{ products.paginator.num_pages }}.</h2>
  </div>
  
  {% pagination products %}
  <table class="list">
    <thead>
        <th>Fournisseur</th>
        <th>Nom du produit</th>
        <th>Conditionnement</th>
        <th>Référence</th>
        <th>Prix</th>
        <th>N° Offre</th>
        <th>Nomenclature</th>
        <th>MAJ</th>
        <th>Action</th>
    </thead>
    
    <tbody>
      {% for product in products.object_list %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ product.provider.name }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.packaging }}</td>
            <td>{{ product.reference }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.offer_nb }}</td>
            <td>{{ product.nomenclature }}</td>
            <td>{{ product.last_change|date }}</td>
            <td>
              <a href="{% url cart_add product.id,1 %}?{{url_params}}" class="quantityDialog plus button">
                Ajouter&nbsp;au&nbsp;panier
              </a>
              {% if product|is_in_charge:user %}
                <a href="{% url product_item product.id %}" class="pencil button">Editer</a>                
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">{% pagination products %}</td>
      </tr>
    </tfoot>
  </table>
</div>
{# END: Product list #}

{# START: Quantity Dialog #}
<div id="dialog-qty" title="Saisissez la quantité à commander">
  <div class="form-row">
    <label for="quantity">Quantité</label>
    <div class="cleaner"></div>
    <input type="text" name="quantity" value="1" />
    <div class="cleaner"></div>
  </div>
</div>
{# END: Quantity Dialog #}

{% endif %}

{% endblock %}
