{% extends "base_budgets.html" %}
{% block header %}
<h1>Gestion des budgets</h1>
<h2>Modification d'une ligne budgétaire</h2>
{% endblock %}
{% block content %}
<form action="{% url budgetline_item bl.id %}" method="post">{% csrf_token %}
	<p class="instructions">
		<em>Les champs marqués d'une étoile sont obligatoires</em>
	</p>
	
	<h3>Ligne budgétaire</h3>
	<fieldset>
		{% with form.budget as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
		{% with form.number as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
		{% with form.provider as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
		{% with form.offer as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
		{% with form.product as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
		{% with form.reference as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
	</fieldset>
	
	<h3>Montant</h3>
	<fieldset>
		<input type="radio" name="cost_type" value="credit" {% if bl.credit %}checked="on"{% endif %} />&nbsp;Crédit<br />
		<input type="radio" name="cost_type" value="debit" {% if bl.debit %}checked="on"{% endif %} />&nbsp;Débit
		
		{% with form.cost as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
		
		{% with form.quantity as field %}
				{% include "form_snippet.html"%}
		{% endwith %}
	</fieldset>
	
	<button type="submit" class="check">Valider</button>
</form>

{% endblock %}
