<div class="bar">
    <a href="#" class="expand">Dérouler</a>
    <a href="#" class="hide">Cacher</a>
    <h4>Recherche de ligne budgétaires</h4>
</div>

<div class="bar_content">
  <form action="{% url budgetlines %}" method="GET">{% csrf_token %}
    <strong>
      Chercher les lignes budgétaires qui correspondent à
      {{ filter_form.connector }} conditions suivantes:
    </strong>
    <div class="cleaner"></div>
    
    <table>
      <tr>
        <td>Equipe:</td>
        <td>{{ filter_form.team }}</td>
        <td width="10%"></td>
        <td>Budget:</td>
        <td>{{ filter_form.budget_id }}</td>
        <td width="10%"></td>
        <td>Date (min/max):</td>
        <td>{{ filter_form.date__gte }}</td>
        <td>{{ filter_form.date__lte }}</td>
      </tr>
      <tr>
        <td>Tutelle:</td>
        <td>{{ filter_form.budget_type }}</td>
        <td width="10%"></td>
        <td>Nature:</td>
        <td>{{ filter_form.nature }}</td>
        <td width="10%"></td>
        <td>Désignation:</td>
        <td>{{ filter_form.product }}</td>
      </tr>
      <tr>
        <td>Fournisseur:</td>
        <td>{{ filter_form.provider }}</td>
        <td width="10%"></td>
        <td>N°cmde:</td>
        <td>{{ filter_form.number }}</td>
        <td width="10%"></td>
				<td>Origine (Code)</td>
				<td>{{ filter_form.origin }}</td>
      </tr>
    </table>
    <div class="cleaner"></div>
    
    <button type="submit" class="all">Chercher</button>
    <a href="{% url budgets %}" class="refresh">Retour liste des budgets</a>
  </form>
</div>
<div class="cleaner"></div>
<br />