{% extends "base_budgets.html" %}
{% block menu_budget %}selected{% endblock %}
{% block header %}
<h1>Gestion des budgets</h1>
<h2>Crédit sur le budget {{ budget.name }} (équipe {{ budget.team }})</h2>
{% endblock %}

{% block content %}
<form action="{% url 'credit_budget' budget.id %}" method="POST">{% csrf_token %}
	<input type="hidden" name="budget" value="{{budget.name}}" />
	<p class="instructions">
		<em>Les champs marqués d'une étoile sont obligatoires</em>
	</p>
	{% for field in form %}{% include "form_snippet.html"%}{% endfor %}
	<button type="submit" class="check">Valider</button>
	<a href="{{ prev }}" class="back">Retour</a>
</form>
{% endblock %}
