{% extends "main_custom.html" %}
{% load paginator %}

{% block content %}

<div id="content" style="min-height:0">
  <div id="content_header"><h2>Modification d'un budget</h2></div>
  
  <form action="{% url budget_edit budget.id %}" method="POST">{% csrf_token %}
      <p class="instructions">
        <em>Les champs marqués d'une étoile sont obligatoires</em>
      </p>
      {% for field in form %}
          {% include "form_snippet.html"%}
      {% endfor %}
      <button type="submit" class="check button">Valider</button>
  </form>
  
  <div class="cleaner"></div>
</div>
{% endblock %}
