{% extends "base_budgets.html" %}
{% block menu_budget_transfer %}active{% endblock %}

{% block header %}
  <h1>Gestion des budgets</h1>
  <h2>Virement inter-budgets</h2>
{% endblock %}

{% block content %}
<form action="{% url budget_transfer %}" class="transfer" method="post">{% csrf_token %}
    <p class="instructions">
      <em>Les champs marqués d'une étoile sont obligatoires</em>
    </p>
    <fieldset>
      {% for field in form %}
          {% include "form_snippet.html"%}
      {% endfor %}
    </fieldset>
    
    <button type="submit" class="check">Valider</button>
</form>
{% endblock %}
