{% extends "base_main.html" %}

{% block content %}
<h2>Une erreur a été détectée</h2>
<br />
<h3>Raisons possibles d'apparition de cette erreur:</h3>
<ul>
  <li>Accès non-autorisé à la page demandée</li>
  <li>La page demandée est introuvable</li>
  <li>
    Bug de l'application sur la page demandée. Dans ce cas, merci de
    copier/coller le texte suivant et de le reporter dans la page suivante:
    {% url issue_new %}
  </li>
</ul>

<h3>Traceback</h3>
{{ traceback|linebreaks }}
{% endblock %}
