{% extends "base_main.html" %}
{% load filters static %}

{% block title %}Commandes{% endblock title %}
{% block tab_orders %}active{% endblock %}

{% block nav_secondary %}
<ul id="subnav">
	{% if not user|has_perm:"order.custom_view_local_provider" %}
	<li class="{% block menu_cart %}{% endblock %}">
		<a href="{% url 'tab_cart' %}">Panier</a>
	</li>
	{% endif %}
	{% if user|has_perm:"order.custom_validate" %}
	<li class="{% block menu_validation %}{% endblock %}">
		<a href="{% url 'tab_validation' %}">Commandes à valider</a>
	</li>
	{% endif %}
	
	{% if not user|has_perm:"order.custom_view_local_provider" %}
	<li class="{% block menu_order %}{% endblock %}">
		<a href="{% url 'tab_orders' %}">
			{% if user|has_perm:"order.custom_goto_status_4" and not user.is_superuser %}
			Commandes à saisir
			{% else %}
			Commandes en cours
			{% endif %}
		</a>
	</li>
	{% endif %}
	
	{% if not user|has_perm:"order.custom_view_local_provider" %}
	<li class="{% block menu_reception %}{% endblock %}">
		<a href="{% url 'tab_reception' %}">Réception</a>
	</li>
	{% endif %}
	
	<li class="{% block menu_reception_local %}{% endblock %}">
		{% if user|has_perm:"order.custom_view_local_provider" %}
			<a href="{% url 'tab_reception_local_provider' %}">Livraisons</a>
		{% else %}
			<a href="{% url 'tab_reception_local_provider' %}">Réception magasin</a>
		{% endif %}
	</li>
</ul>
{% endblock %}
