{% extends "base_main.html" %}
{% load filters static %}

{% block title %}Produits{% endblock title %}
{% block menu_product %}active{% endblock %}

{% block nav_secondary %}
<ul id="subnav">
  <li class="{% block product_list %}{% endblock %}">
    <a href="{% url 'product:list' %}">Liste des produits</a>
  </li>
  <li class="{% block product_new %}{% endblock %}">
    <a href="{% url 'product:new' %}">Ajouter un produit</a>
  </li>
  {% if user|is_admin %}
  <li class="{% block product_codes %}{% endblock product_codes %}">
    <a href="{% url 'product_code:import' %}">Importer des nomenclatures</a>
  </li>
  {% endif %}
</ul>
{% endblock %}
