{% extends "base_main.html" %}
{% load filters static %}

{% block title %}Historique{% endblock title %}
{% block menu_history %}active{% endblock %}

{% block nav_secondary %}
<ul id="subnav">
  <li class="{% block history_orders %}{% endblock %}">
    <a href="{% url 'history:orders' %}">Historique commandes</a>
  </li>
  {% if user|has_perm:"budget.custom_history_budget" %}
    <li class="{% block history_budgets %}{% endblock %}">
      <a href="{% url 'history:budgets' %}">Historique budgets</a>
    </li>
  {% endif %}
</ul>
{% endblock %}
