{% extends "base_main.html" %}
{% load filters static %}

{% block title %}Administration{% endblock title %}
{% block tab_admin %}active{% endblock %}

{% block nav_secondary %}
<ul id="subnav">
	<li class="{% block menu_team %}{% endblock %}">
		<a href="{% url 'team:index' %}">Equipes</a>
	</li>
	{% if user|is_admin %}
	<li class="{% block menu_group %}{% endblock %}">
		<a href="{% url 'bcglab_admin:group_index' %}">Groupes d'utilisateur</a>
	</li>
	<li class="{% block menu_maintenance %}{% endblock %} last">
		<a href="{% url 'bcglab_admin:maintenance' %}">Maintenance</a>
	</li>
	{% endif %}
</ul>
{% endblock %}
