{% extends "base_main.html" %}
{% load filters %}

{% block menu_product %}active{% endblock %}

{% block nav_secondary %}
<ul id="subnav">
  <li class="{% block product_list %}{% endblock %}">
    <a href="{% url product_index %}">Liste des produits</a>
  </li>
  <li class="{% block product_new %}{% endblock %}">
    <a href="{% url product_new %}">Ajouter un produit</a>
  </li>
  <li class="{% block product_edit_list %}{% endblock %}">
    <a href="{% url product_edit_list %}">Editer une liste de produits</a>
  </li>
</ul>
{% endblock %}
