{# PAGE ACCUEIL #}

{% extends "main_custom.html" %}
{% load filters %}

{% block menu_home %}selected{% endblock %}

{% block content %}
<div id="content" style="min-height:0">
  <div id="content_header"><h2>Infos</h2></div>
  <div style="float:left;width:73%;min-height:600px;border-right:1px solid #eee;">
    <table class="list">
      <thead>
        <th width="60px">Date</th>
        <th width="60px">Expiration</th>
        <th width="100%">Information</th>
        <th width="60px"></th>
      </thead>
      <tbody>
        {% for info in infos %}
          {% if info.has_expired %}
            <tr class="expired">
          {% else %}{% if info.soon_expired %}
            <tr class="soon_expired">
          {% else %}
            <tr>
          {% endif %}{% endif %}
            <td>{{ info.date_created|date }}</td>
            <td>{{ info.expiry|date }}</td>
            <td>{{ info.text }}</td>
            <td>
              <a href="{% url info_delete info.id %}" class="trash no-text"></a>
              {# <a href="{% url info_edit info.id %}" class="pencil">Editer</a> #}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div style="float:left;width:26%">
    <form action="{% url info_index %}" method="POST">{% csrf_token %}
      {% for field in info_form %}
        {% include "form_snippet.html"%}
      {% endfor %}
      <button type="submit" class="check button">Valider</button>
    </form>
  </div>
  <div class="cleaner"></div>
</div>


<div id="content" style="min-height:0">
  <div id="content_header"><h2>Bugs</h2></div>
  <div style="float:left;width:73%;min-height:600px;border-right:1px solid #eee;">
    <br />
    <a href="." class="notice">Non résolus</a>
    <a href=".?fixed=True" class="flag">Résolus</a>
    <table class="list">
      <thead>
        <th>Titre</th>
        <th>Type</th>
        <th>Priorité</th>
        <th>Statut</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for issue in issues %}
          <tr>
            <td>
              <a href="{% url issue_item issue.id %}">{{ issue.title }}</a>
            </td>
            <td>{{ issue.get_issue_type_display }}</td>
            <td>{{ issue.get_severity_display }}</td>
            <td>{{ issue.get_status_display }}</td>
            <td>{{ issue.date_created|date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div style="float:left;width:26%">
    <form action="{% url issue_index %}" method="POST">{% csrf_token %}
      {% for field in issue_form %}
        {% include "form_snippet.html"%}
      {% endfor %}
      <button type="submit" class="check button">Valider</button>
    </form>
  </div>
  <div class="cleaner"></div>
</div>
{% endblock %}
