{% extends "main_custom.html" %}

{% block menu_home %}selected{% endblock %}

{% block content %}
<div id="content" style="min-height:0;">
  <div id="content_header"><h2>TODO</h2></div>
  <ul>
    <li>Equipe gestion:
      <ul>
        <li>Créer des permissions/accès spécifiques</li>
        <li>Communication avec XLab/SIFAC ?</li>
      </ul>
    </li>
  </ul>
</div>
<div id="content" style="min-height:0;">
  <div id="content_header"><h2>Statistiques</h2></div>
  <div>
    <h4>Répartition des commandes par mois :</h4>
    <img src="https://chart.googleapis.com/chart?{{url_args}}" />
  </div>
</div>
{% endblock %}