{# PAGE ACCUEIL #}

{% extends "main_custom.html" %}
{% load filters %}

{% block menu_home %}selected{% endblock %}

{% block content %}
<div id="content" style="min-height:0">
  <div id="content_header"><h2>Infos</h2></div>
  <div style="float:left;width:70%;min-height:400px;border-right:1px solid #eee;overflow:auto;">
    <table class="list">
      <thead>
        <th width="60px">Date</th>
        <th width="60px">Expiration</th>
        <th width="100%">Information</th>
        <th width="60px"></th>
      </thead>
      <tbody>
        {% for info in infos %}
          {% if info.has_expired %}
            <tr class="expired">
          {% else %}{% if info.soon_expired %}
            <tr class="soon_expired">
          {% else %}
            <tr>
          {% endif %}{% endif %}
            <td>{{ info.date_created|date }}</td>
            <td>{{ info.expiry|date }}</td>
            <td>{{ info.text }}</td>
            <td>
              <a href="{% url info_delete info.id %}" class="trash no-text"></a>
              {# <a href="{% url info_edit info.id %}" class="pencil">Editer</a> #}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div style="float:left;width:29%">
    <form action="{% url info_index %}" method="POST">{% csrf_token %}
      {% for field in info_form %}
        {% include "form_snippet.html"%}
      {% endfor %}
      <button type="submit" class="check button">Valider</button>
    </form>
  </div>
  <div class="cleaner"></div>
</div>
{% endblock %}
