{% load paginator filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="MSSmartTagsPreventParsing" content="TRUE" />
<title>Commandes LBCMCP - {% block title %}{% endblock %}</title>
<link type="image/gif" rel="icon" href="{{ MEDIA_URL }}img/icons/favicon.gif" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/new_style.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/humanity/jquery-ui-1.8.16.custom.css" type="text/css" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.datepicker-fr.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>

{% block extra_head %}{% endblock %}
</head>

<body {% block extra_body %}{% endblock %}>
  <div id="wrapper">
    <!-- start: header-->
    <div id="header">
      <div id="top">
          {% block identification %}
              {# {% if not user.is_anonymous %} #}
              {#     <a id="top_profil" href="{% url user_item user.id %}">{{ user.username }}</a> #}
              {# {% endif %} #}
              <a id="top_logout" href="{% url logout %}">{{ user.username }} (déconnexion)</a>
          {% endblock %}
      </div>
      <div class="cleaner"></div>
      
      <h1><a href="{% url home %}">Gestion des commandes LBCMCP</a></h1>
      <div class="cleaner"></div>
      
      <!-- start: navigation -->
      <ul id="navigation">
        <li class="{% block menu_home %}{% endblock %}">
          <a href="{% url info_index %}">Accueil</a>
        </li>
        <li class="{% block menu_provider %}{% endblock %}">
          <a href="{% url provider_index %}">Fournisseurs</a>
        </li>
        <li class="{% block menu_product %}{% endblock %}">
          <a href="{% url product_index %}">Produits</a>
        </li>
        <li class="{% block menu_services %}{% endblock %}">
          <a href="{% url tab_services %}">Services</a>
        </li>
        <li class="{% block tab_orders %}{% endblock %}">
          <a href="{% url tab_orders %}">Commandes</a>
        </li>
        {% if user|is_super_secretary or user|is_validator or user|is_super_validator %}
          <li class="{% block tab_budgets %}{% endblock %}">
            <a href="{% url budgets %}">Budgets</a>
          </li>
        {% endif %}
        <li class="{% block menu_history %}{% endblock %}">
          <a href="{% url history %}">Historique</a>
        </li>
        <li class="{% block tab_preferences %}{% endblock %}">
          <a href="{% url preferences %}">Préférences</a>
        </li>
        {% if user.is_superuser or user|is_admin %}
          <li class="{% block tab_admin %}{% endblock %}">
            <a href="{% url team_index %}">Admin</a>
          </li>
        {% endif %}
        <li class="{% block menu_bugs %}{% endblock %}">
          <a href="{% url issue_index %}">Améliorations</a>
        </li>
      </ul>
      <!--end: navigation -->
      
      <!-- start: subnav -->
      {% block nav_secondary %}{% endblock %}
      <!-- end: subnav -->
    </div>
    <div class="cleaner"></div>
    <!-- end: header -->
    
    {% block main_content %}{% endblock %}
    <br /><br />
  </div>
  <!-- end: wrapper -->
  
  <div id="footer">
      <div id="footer_wrapper">
          <div id="tracelite_version">
              <h4>Gestion des commandes LBCMCP</h4>
              <span class="little">VERSION {{ VERSION }} - Build {{ SVN_REVISION }}</span><br />
          </div>
          <div class="cleaner"></div>
      </div>
  </div>
</body>
</html>
