<table>
  <thead>
      <th>Fournisseur</th>
      <th>Nom du produit</th>
      <th>Conditionnement</th>
      <th>Référence</th>
      <th>Prix</th>
      <th>N° Offre</th>
      <th>Nomenenclature</th>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.packaging }}</td>
        <td>{{ product.reference }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.offer_nb }}</td>
        <td>{{ product.nomenclature }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>