{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_secretary_budgets %}selected{% endblock %}

{% block buttons %}
{% if budget %}
  <div class="btn_wrapper">
    <a href="{% url debit_budget budget.id %}" class="btn_small">
      <img src="{{ MEDIA_URL }}img/icons/delete.png" />Débiter
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url credit_budget budget.id %}" class="btn_small">
      <img src="{{ MEDIA_URL }}img/icons/add.png" />Créditer
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url secretary_reports %}" class="btn_big">
      <img src="{{ MEDIA_URL }}img/icons/magnifier.png" />Détail de tous les budgets
    </a>
  </div>
{% endif %}
<div class="btn_wrapper">
  <a href="{% url secretary_budgets %}" class="btn_big">
    <img src="{{ MEDIA_URL }}img/icons/coins.png" />Retour liste des budgets
  </a>
</div>
{% endblock %}

{% block content %}
<div id="content">
  <div id="content_header"><h2>Rapport d'activité</h2></div>
  {% if budget_lines.object_list %}
    <table class="list">
      <thead>
        <th>budget</th>
        <th>crédit</th>
        <th>n° de cmde</th>
        <th>date de l'acte</th>
        <th>nature</th>
        <th>tutelle</th>
        <th>type de crédit</th>
        <th>fournisseur</th>
        <th>offre</th>
        <th>désignation</th>
        <th>ref</th>
        <th>qté</th>
        <th>PU</th>
        <th>Prix HT total</th>
        <th>Montant dispo</th>
      </thead>
      
      <tbody>
        {% for budget_line in budget_lines.object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
             <td>{{ budget_line.name }}</td>
             <td>{{ budget_line.credit|default:"" }}</td>
             <td>{{ budget_line.order_nb|default:"" }}</td>
             <td>{{ budget_line.date|date }}</td>
             <td>{{ budget_line.nature }}</td>
             <td>{{ budget_line.get_budget_type_display|default:"" }}</td>
             <td>{{ budget_line.credit_type|default:"" }}</td>
             <td>{{ budget_line.provider|default:"" }}</td>
             <td>{{ budget_line.offer|default:"" }}</td>
             <td>{{ budget_line.product|default:"" }}</td>
             <td>{{ budget_line.ref|default:"" }}</td>
             <td>{{ budget_line.quantity|default:"" }}</td>
             <td>{{ budget_line.product_price|default:"" }}</td>
             <td>{{ budget_line.debit|default:"" }}</td>
             <td>{{ budget_line.amount_left }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucune commande passée.</p>
  {% endif %}
</div>
{% pagination budget_lines %}

{% endblock %}
