{% extends "main_custom.html" %}
{% load filters %}

{% block menu_cart %}selected{% endblock %}

{% block buttons %}
  <div class="btn_wrapper">
    <a href="{% url cart_empty %}" class="btn_medium">
      <img src="{{ MEDIA_URL }}img/icons/basket_delete.png" />Vider le panier
    </a>
  </div>
{% endblock %}

{% block content %}
{% for order in order_list %}
  <div id="content" style="min-height:0">
    <div id="content_header"><h2>{{ order.provider }}</h2></div>
    {% include "order/_order_detail.html" %}
  </div>
{% empty %}
  <div id="content">
    <div id="content_header"><h2>Panier</h2></div>
    <p>Votre panier est vide</p>
  </div>
{% endfor %}



{# ################## #}
{#                    #}
{#      DIALOGS       #}
{#                    #}
{# ################## #}

<div id="dialog-qty" title="Modifier la quantité">
  <div class="form-row">
    <div id="qty-error-msg"></div>
    <label for="quantity">Quantité</label>
    <div class="cleaner"></div>
    <input type="text" name="quantity" value="0" />
  </div>
</div>

<div id="dialog-confirm-del" title="Confirmer la suppression">
  Êtes-vous sûr de vouloir supprimer cette commande ?
</div>

<div id="dialog-confirm" title="Confirmation requise">
  Après confirmation, un email va être envoyé au(x) validateur(s), 
  puis la commande sera transmise au secrétariat.
</div>
{% endblock %}
