{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_budgets %}selected{% endblock %}

{% block buttons %}
  <div class="btn_wrapper">
    <a href="{% url budget_new %}" class="btn_medium">
      <img src="{{ MEDIA_URL }}img/icons/add.png" />Ajouter un budget
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url budgetlines %}" class="btn_big">
      <img src="{{ MEDIA_URL }}img/icons/magnifier.png" />Détail de tous les budgets
    </a>
  </div>
{% endblock %}

{% block content %}
<div id="content" style="min-height:0">
  <div id="content_header"><h2>Gestion des budgets</h2></div>
  
  {% if budgets.object_list %}
    <table class="list">
      <thead>
        <th>Nom</th>
        <th>Equipe</th>
        <th>Tutelle</th>
        <th>Nature</th>
        <th>Type de crédit</th>
        <th>Montant disponible</th>
        <th>Action</th>
      </thead>
      
      <tbody>
        {% for budget in budgets.object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ budget.name }}</td>
            <td>{{ budget.team }}</td>
            <td>{{ budget.get_budget_type_display }}</td>
            <td>{{ budget.default_nature }}</td>
            <td>{{ budget.default_credit_type }}</td>
            <td>{{ budget.get_amount_left }}</td>
            <td>
              <a href="{% url budgetlines %}?budget_name={{budget.name}}" class="zoomin button">
                Voir détail
              </a>
              <a href="{% url budget_edit budget.id %}" class="pencil button">
                Editer
              </a>
              <a href="{% url credit_budget budget.id %}" class="plus button">
                Créditer
              </a>
              <a href="{% url debit_budget budget.id %}" class="minus button">
                Débiter
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

{% endblock %}
