{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_budgets %}selected{% endblock %}

{% block buttons %}

{% if budget %}
  <div class="btn_wrapper">
    <a href="{% url debit_budget budget.id %}" class="btn_small">
      <img src="{{ MEDIA_URL }}img/icons/delete.png" />Débiter
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url credit_budget budget.id %}" class="btn_small">
      <img src="{{ MEDIA_URL }}img/icons/add.png" />Créditer
    </a>
  </div>
  <div class="btn_wrapper">
    <a href="{% url budgetlines %}" class="btn_big">
      <img src="{{ MEDIA_URL }}img/icons/magnifier.png" />Détail de tous les budgets
    </a>
  </div>
{% endif %}
<div class="btn_wrapper">
  <a href="{% url budgets %}" class="btn_big">
    <img src="{{ MEDIA_URL }}img/icons/coins.png" />Retour liste des budgets
  </a>
</div>
{% endblock %}

{% block content %}

{% regroup budget_lines.object_list by team as team_list %}

{% for team in team_list %}
  <div id="content" style="min-height:0">
  <div id="content_header"><h2>Equipe {{ team.grouper }}</h2></div>
  
  {% regroup team.list by budget as budget_list %}
  
  <table class="list">
    <thead>
      <th>budget</th>
      <th>n° de cmde</th>
      <th>date de l'acte</th>
      <th>nature</th>
      <th>tutelle</th>
      <th>origine</th>
      <th>fournisseur</th>
      <th>offre</th>
      <th style="max-width:200px">désignation</th>
      <th>ref</th>
      <th>crédit</th>
      <th>débit</th>
      <th>qté</th>
      <th>Montant total</th>
      <th>Montant dispo</th>
      <th></th>
    </thead>
      
    <tbody>
      {% for budget in budget_list %}
        {% if forloop.counter > 1 %}
          <tr class="empty_row">
            <td colspan="15"></td>
          </tr>
        {% endif %}
        
        {% for budget_line in budget.list %}
        <tr class="{% cycle 'even' 'odd' %}">
          {% if forloop.counter == 1 %}
            <td><strong>{{ budget.grouper }}</strong></td>
          {% else %}
            <td>{{ budget.grouper }}</td>
          {% endif %}
          <td>{{ budget_line.number|default:"" }}</td>
          <td>{{ budget_line.date|date }}</td>
          <td>{{ budget_line.nature }}</td>
          <td>{{ budget_line.get_budget_type_display|default:"" }}</td>
          <td>{{ budget_line.origin|default:"" }}</td>
          <td>{{ budget_line.provider|default:"" }}</td>
          <td>{{ budget_line.offer|default:"" }}</td>
          <td>{{ budget_line.product|default:"" }}</td>
          <td>{{ budget_line.ref|default:"" }}</td>
          <td style="color:green">{{ budget_line.credit|default:"" }}</td>
          <td style="color:red">{{ budget_line.debit|default:"" }}</td>
          <td>{{ budget_line.quantity|default:1 }}</td>
          <td>{{ budget_line.product_price|default:"" }}</td>
          <td>{{ budget_line.get_amount_left }}</td>
          <td>
            <a href="{% url budgetline_edit budget_line.id %}" class="pencil no-text"></a>
            <a href="{% url budgetline_delete budget_line.id %}" class="trash confirmDel no-text"></a>
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endfor %}
{% pagination budget_lines %}

<div id="confirmDel" class="dialog" title="Confirmer la suppression">
  Merci de confirmer la suppression.
</div>

{% endblock %}
