{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_history %}selected{% endblock %}

{% block content %}
{# Start: FILTER FORM #}
<div id="content" style="min-height:0" class="collapsable">
  <h2>
    <div class="ui-icon ui-icon-arrowthickstop-1-n" style="float:left;margin-right:10px"></div>
    Filtres
  </h2>
  <div class="content">
    <form action="{% url history %}" method="POST" id="history_filter">{% csrf_token %}
      <strong>Chercher les commandes qui correspondent à {{ filter_form.connector }} conditions suivantes:</strong>
      <table>
        <tr>
          <td>Equipe:</td>
          <td>{{ filter_form.team }}</td>
          <td width="10%"></td>
          <td>Date&nbsp;d'enregistrement&nbsp;(min/max):</td>
          <td>{{ filter_form.date_created__gte }}</td>
          <td>{{ filter_form.date_created__lte }}</td>
        </tr>
        <tr>
          <td>Fournisseur:</td>
          <td>{{filter_form.provider}}</td>
          <td width="10%"></td>
          <td>Prix (min/max):</td>
          <td>{{ filter_form.price__gte }}</td>
          <td>{{ filter_form.price__lte }}</td>
        </tr>
      </table>
      <button type="submit" class="all button">Chercher</button>
      <a href="{% url history %}" class="refresh button">Réinitialiser</a>
    </form>
  </div>
</div>
{# End: FILTER FORM #}


<div id="content" style="min-height:0">
  <div id="content_header"><h2>Historique des commandes</h2></div>
  
  {% if history.object_list %}
    <table class="list">
      <thead>
        <th>Date</th>
        <th>Equipe</th>
        <th>Fournisseur</th>
        <th>Prix</th>
        {% if user|is_validator or user|is_secretary %}
          <th>Budget</th>
        {% endif %}
        <th>Action</th>
      </thead>
    
      <tbody>
        {% for item in history.object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ item.date_delivered|date }}</td>
            <td>{{ item.team }}</td>
            <td>{{ item.provider }}</td>
            <td>{{ item.price }}</td>
            {% if user|is_validator or user|is_secretary %}
              <td>{{ item.budget }}</td>
            {% endif %}
            <td>
              <a href="{{ item.get_absolute_url }}" class="zoomin">
                Voir détail
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% pagination history %}
  {% else %}
    <p>Aucun résultat.</p>
  {% endif %}
  <div class="cleaner"></div>
</div>
{% endblock %}
