{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_order %}selected{% endblock %}

{% block content %}

<div id="content" style="min-height:0">
  <div id="content_header"><h2>Commandes équipe {{ user.teammember_set.get.team }}</h2></div>
  
  {% if orders.object_list %}
    <table class="list">
      <thead>
        <th>Date</th>
        <th>Fournisseur</th>
        <th>Prix</th>
        <th>Statut</th>
        <th>Dernière MAJ</th>
        <th>Action</th>
      </thead>
      
      <tbody>
        {% for order in orders.object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ order.date_created|date }}</td>
            <td>{{ order.provider.name }}</td>
            <td>{{ order.price }} €</td>
            <td><b>{{ order.get_status_display }}</b></td>
            <td>{{ order.last_change|date }}</td>
            <td>
              <a href="{{ order.get_absolute_url }}" class="zoomin button">
                Voir détail
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% pagination orders %}
    <div class="cleaner"></div>
  {% else %}
    <p>Aucune commande en cours.</p>
  {% endif %}
</div>
{% endblock %}
