{% extends "base_orders.html" %}
{% load paginator filters static %}

{% block menu_validation %}active{% endblock %}

{% block header %}
{% if user|has_perm:"team.custom_view_teams" %}
	{% if not see_all_teams %}
	<div class="btn_wrapper">
		<a href="{% url 'order:tab_validation' %}?see_all_teams=1" class="btn_medium">
			<img src="{% static 'img/icons/arrow_down.png' %}" />Voir autres équipes
		</a>
	</div>
	{% else %}
		<div class="btn_wrapper">
			<a href="{% url 'order:tab_validation' %}?see_all_teams=0" class="btn_medium">
				<img src="{% static 'img/icons/arrow_up.png' %}" />Voir mon équipe
			</a>
		</div>
	{% endif %}
{% endif %}
<h1>Gestion des commandes</h1>
<h2>Commandes à valider
	{% if user|has_perm:"team.custom_view_teams" %}
		{% if not see_all_teams %}(mon équipe){% else %}(autres équipes){% endif %}
	{% endif %}
</h2>
{% endblock %}

{% block content %}
{% for order in orders.object_list %}
	{% pagination orders %}
	<h2 class="order-title">Fournisseur: {{ order.provider }}</h2>
	<div class="order">
		{% include "order/_order_detail.html" %}
	</div>
	{% pagination orders %}
{% empty %}
	<p>Aucune commande à valider.</p>
{% endfor %}
{% include "order/_dialogs.html" %}
{% endblock %}
