{% extends "base_orders.html" %}
{% load paginator filters %}

{% block menu_validation %}active{% endblock %}

{% block header %}
<h1>Gestion des commandes</h1>
<h2>Commandes à valider</h2>
{% endblock %}

{% block content %}
{% for order in orders.object_list %}
	{% pagination orders %}
	<h2 class="order-title">Fournisseur: {{ order.provider }}</h2>
	<div class="order">
		{% include "order/_order_detail.html" %}
	</div>
	{% pagination orders %}
{% empty %}
	<p>Aucune commande à valider.</p>
{% endfor %}
{% include "order/_dialogs.html" %}
{% endblock %}
