{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_order %}selected{% endblock %}

{% block content %}

<div id="content" style="min-height:0">
  <div id="content_header"><h2>Commandes à saisir</h2></div>
  
  {% if orders.object_list %}
    <table class="list">
      <thead>
        <th>Date</th>
        <th>Fournisseur</th>
        <th>Equipe</th>
        <th>Budget</th>
        <th>Montant</th>
        <th>Statut</th>
        <th>Cmde N°</th>
        <th>Dernière MAJ</th>
        <th>Action</th>
      </thead>
      
      <tbody>
        {% for order in orders.object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ order.date_created|date }}</td>
            <td>{{ order.provider.name }}</td>
            <td>{{ order.get_full_name }}</td>
            {% if order.budget %}
              <td>{{ order.budget.name }}</td>
            {% else %}
              <td class="warning" style="background-position:center"></td>
            {% endif %}
            <td>{{ order.price }} €</td>
            <td><b>{{ order.get_status_display }}</b></td>
            <td>{{ order.number|default:"" }}</td>
            <td>{{ order.last_change|date }}</td>
            <td>
              <a href="{{ order.get_absolute_url }}?next=tab_orders" class="pencil">Voir détail</a>
              {% if order.budget %}
                {% if order.status == 2 and not user|is_secretary %}
                  <a href="{% url set_next_status order.id %}" class="next-status">
                    {% if order.budget.budget_type == 0 %}
                      Pour saisie XLAB
                    {% else %}
                      Pour saisie SIFAC
                    {% endif %}
                  </a>
                {% else %}{% if order.status == 3 %}
                  <a href="{% url set_next_status order.id %}" class="next-status setOrderNb">
                    {% if order.budget.budget_type == 0 %}
                      Saisie n°XLAB
                    {% else %}
                      Saisie n°SIFAC
                    {% endif %}
                  </a>
                {% else %}{% if order.status == 4 %}
                  <a href="{% url set_next_status order.id %}" class="next-status setDeliveryDate">
                    Commande réceptionnée
                  </a>
                {% endif %}{% endif %}{% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% pagination orders %}
    <div class="cleaner"></div>
  {% else %}
    <p>Aucune commande en cours.</p>
  {% endif %}
</div>



{# ################## #}
{#                    #}
{#      DIALOGS       #}
{#                    #}
{# ################## #}

<div id="setDeliveryDate" class="dialog" title="Date de livraison">
  <div class="form-row">
    <label for="delivery_date">Date de livraison (jj/mm/aaaa):</label>
    <div class="cleaner"></div>
    <input type="text" name="delivery_date" class="datepicker" />
    <div class="cleaner"></div>
  </div>
</div>

<div id="setOrderNb" class="dialog" title="Saisie du N° de commande">
  <div class="form-row">
    <label for="number">N° de commande:</label>
    <div class="cleaner"></div>
    <input type="text" name="number" />
    <div class="cleaner"></div>
  </div>
</div>

{% endblock %}
