{% extends "base_history.html" %}
{% load paginator filters %}

{% block history_budgets %}active{% endblock %}

{% block header %}
<h1>Historique budgets</h1>
{% endblock %}

{% block content %}
{% include "history/search_form_budgets.html" %}

<h2>Liste des budgets archivés - Page {{ objects.number }} sur {{ objects.paginator.num_pages }}.</h2>
{% pagination objects %}
<br />

{% regroup objects.object_list by team as team_list %}

{% for team in team_list %}
<h2>Equipe {{ team.grouper }}</h2>
{% regroup team.list by budget as budget_list %}
<table class="list" style="margin-bottom:20px">
	<thead>
		<th>budget</th>
		<th>cmde</th>
		<th>date</th>
		<th>nature</th>
		<th>tutelle</th>
		<th>origine</th>
		<th>fournisseur</th>
		<th>offre</th>
		<th>désignation</th>
		<th>ref</th>
		<th>crédit</th>
		<th>débit</th>
		<th>qté</th>
		<th>Total</th>
		<th>Dispo</th>
	</thead>
	<tbody>
		{% for budget in budget_list %}
			{% if forloop.counter > 1 %}
				<tr class="empty_row"><td colspan="16"></td></tr>
			{% endif %}
			
			{% for budget_line in budget.list %}
			<tr class="{% cycle 'even' 'odd' %} {% if forloop.first %}border-top-double{% endif %}">
				{% if forloop.first %}
					<td><strong>{{ budget.grouper }}</strong></td>
				{% else %}
					<td>{{ budget.grouper }}</td>
				{% endif %}
				<td>{{ budget_line.number|default:"" }}</td>
				<td>{{ budget_line.date|date }}</td>
				<td>{{ budget_line.nature|default:"Toutes" }}</td>
				<td>{{ budget_line.get_budget_type_display|default:"" }}</td>
				<td>{{ budget_line.origin|default:"" }}</td>
				<td>{{ budget_line.provider|default:"" }}</td>
				<td>{{ budget_line.offer|default:"" }}</td>
				<td title="{{ budget_line.product|default:""}}">
					{{ budget_line.product|default:""|truncatewords:6 }}
				</td>
				<td>{{ budget_line.ref|default:"" }}</td>
				<td style="color:green">{{ budget_line.credit|default:"" }}</td>
				<td style="color:red">{{ budget_line.debit|default:"" }}</td>
				<td>{{ budget_line.quantity|default:1 }}</td>
				<td>{{ budget_line.get_total|default:"" }}</td>
				<td><strong>{{ budget_line.get_amount_left }}</strong></td>
			</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
{% empty %}
<h2>Aucun résultat pour cette recherche.</h2>
{% endfor %}

{% pagination objects %}

{% endblock %}