{% extends "base_history.html" %}
{% load paginator filters %}

{% block history_orders %}active{% endblock %}

{% block header %}
  <h1>Historique commandes</h1>
  <h2>Détail commande {{ history.provider }} réceptionnée le {{ history.date_delivered|date }}</h2>
{% endblock %}

{% block content %}
<table class="list">
  <thead>
    <th>Utilisateur</th>
    <th>Produit</th>
    <th>Conditionnement</th>
    <th>Référence</th>
    <th>N° Offre</th>
    <th>Prix unitaire</th>
    <th>Quantité</th>
    <th>Prix total</th>
  </thead>
  
  <tbody>
    {% for item in history.items.all %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ item.get_fullname }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.packaging|default:"" }}</td>
        <td>{{ item.reference|default:"" }}</td>
        <td>{{ item.offer_nb|default:"" }}</td>
        <td>{{ item.price }} €</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.total_price }} €</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p><strong>PRIX TOTAL COMMANDE: {{ history.price }} € </strong></p>
<br />
<a href="{% url history_orders %}" class="back">Retour</a>
{% endblock %}
