{% extends "base_history.html" %}
{% load paginator filters static humanize %}

{% block history_orders %}active{% endblock %}

{% block header %}
<h1>Historique commandes</h1>
{% endblock %}

{% block content %}
{% include "history/search_form.html" %}

<div class="hide_on_save">
{% if objects.object_list %}
	<h2>
		Liste des commandes réceptionnées - 
		Page {{ objects.number }} sur {{ objects.paginator.num_pages }}.
	</h2>
	<div class="btn_wrapper">
		<a href="{% url 'history:orders_export' %}?{{url_args}}" class="btn_big">
			<img src="{% static 'img/icons/page_excel.png' %}" />Exporter vers Excel
		</a>
	</div>
	
	{% if display == "by_order" %}
		<p style="font-size:16px">Montant commandes cumulé: {{ total|intcomma }}€</p>
	{% else %}{% if display == "by_product" %}
		<p style="font-size:16px">Montant total cumulé: {{ total }}€</p>
	{% endif %}{% endif %}
	
	{% pagination objects %}
	{% if display == "by_order" %}
		<table class="list">
			<thead>
				<th>Date réception</th>
				<th>Equipe</th>
				<th>Fournisseur</th>
				<th>N°cmde</th>
				<th>Montant cde</th>
				{% if user|has_perm:"budget.custom_view_budget" %}
				<th>Budget</th>
				{% endif %}
				<th>Action</th>
			</thead>
			<tbody>
				{% for order in objects.object_list %}
				<tr class="{% cycle 'even' 'odd' %}">
					<td>{{ order.date_delivered|date }}</td>
					<td>{{ order.team }}</td>
					<td>{{ order.get_provider_display }}</td>
					<td>{{ order.number|default:"" }}</td>
					<td>{{ order.price }}</td>
					{% if user|has_perm:"budget.custom_view_budget" %}
					<td>{{ order.budget }}</td>
					{% endif %}
					<td>
						<a href="{{ order.get_absolute_url }}" class="zoomin">Voir détail</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}{% if display == "by_product" %}
		<table class="list">
			<thead>
				<th>Date réception</th>
				<th>Equipe</th>
				<th>Commandé par</th>
				<th>Réceptionné par</th>
				<th>Fournisseur</th>
				<th>N°cmde</th>
				<th>Désignation</th>
				<th>Conditionnement</th>
				<th>Référence</th>
				<th>N° Offre</th>
				<th>Prix unitaire</th>
				<th>Quantité</th>
				<th>Prix total</th>
				<th>Montant cde</th>
			</thead>
			<tbody>
				{% for item in objects.object_list %}
					{% with item.history_set.get as history %}
						<tr class="{% cycle 'even' 'odd' %}">
							<td>{{ history.date_delivered|date }}</td>
							<td>{{ history.team }}</td>
							<td>{{ item.get_fullname }}</td>
							<td>{{ item.get_fullname_recept|default:"" }}</td>
							<td>{{ history.provider }}{% if item.origin %} - {{ item.origin }}{% endif %}</td>
							<td>{{ history.number|default:"" }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.packaging|default:"" }}</td>
							<td>{{ item.reference|default:"" }}</td>
							<td>{{ item.offer_nb|default:"" }}</td>
							<td>{{ item.price }} €</td>
							<td>{{ item.quantity }}</td>
							<td>{{ item.total_price }} €</td>
							<td>{{ history.price }} €</td>
						</tr>
					{% endwith %}
				{% endfor %}
			</tbody>
		</table>
	{% endif %}{% endif %}
	{% pagination objects %}
{% else %}
	<h2>Liste des commandes réceptionnées</h2>
	<p>Aucun résultat.</p>
{% endif %}
</div>
{% endblock %}
