{% extends "base_provider.html" %}
{% load filters %}
{% block provider_list %}active{% endblock %}

{% block header %}
	<h1>Gestion des fournisseurs</h1>
	<h2>Mise à jour des produits du fournisseur {{ provider.name }}</h2>
{% endblock %}

{% block content %}
<form action="{% url import_products provider.id %}" method="post" enctype="multipart/form-data" style="padding-top:0">{% csrf_token %}
	<p class="instructions">
		Un tableau résumant les données importées s'affichera avant la validation finale.
		<br />Le fichier importé doit être au format <strong>XLS</strong>.
	</p>
	<h3>A) Sélectionnez le fichier à importer</h3>
	<fieldset>
		{% for field in form %}
			{% include "form_snippet.html" %}
		{% endfor %}
	</fieldset>
	
	<h3>B) Veuillez ordonner (par glisser-déposer) les colonnes comme dans votre fichier</h3>
	<fieldset>
		<ul id="sortable">
			<li class="ui-state-default">Désignation*</li>
			<li class="ui-state-default">Référence*</li>
			<li class="ui-state-default">Prix*</li>
			<li class="ui-state-default">Conditionnement</li>
			<li class="ui-state-default">N° d'offre</li>
			<li class="ui-state-default">Nomenclature</li>
			<li class="ui-state-default">Fournisseur d'origine</li>
		</ul>
	</fieldset>
	<input type="hidden" name="column_order" value="" />
	<button type="submit" class="check csv-import">Valider</button>
	<a href="{% url provider_index %}" class="back">Retour</a>
</form>
{% endblock %}
