{# PAGE FOURNISSEUR #}

{% extends "base_provider.html" %}
{% load filters static %}
{% block provider_list %}active{% endblock %}

{% block header %}
<h1>Gestion des fournisseurs</h1>
<h2>Résultat de l'importation et confirmation</h2>
{% endblock %}

{% block content %}
<form action="{% url 'provider:perform_import_products' provider.id %}" method="POST">{% csrf_token %}
	<input type="hidden" name="replace_all" value="{{replace_all}}" />
	
	<button type="submit" class="check">Valider l'import</button>
	<a href="{% url 'provider:import_products' provider.id %}" class="back">Retour page import</a>
	
	<br />
	
	<table class="list">
		<thead>
			<th></th>
			{% for head in header %}
			<th>{{ head }}</th>
			{% endfor %}
		</thead>
		<tbody>
		{% for line in data %}
		<tr class="{% cycle 'odd' 'even' %} {% if line.0 == 'false' %}disabled{% endif %}">
			{% for item in line %}
				{% if forloop.counter == 1 %}
				<td>
					{% if item == 'true' %}
					<input type="checkbox" class="imported_item" name="item_{{forloop.parentloop.counter0}}" checked="checked" />
					{% else %}
					<input type="checkbox" class="imported_item" name="item_{{forloop.parentloop.counter0}}" disabled="true" />
					{% endif %}
					- {{ forloop.parentloop.counter }}
				</td>
				{% else %}
				<td class="{% if line.0 == False %}disabled{% endif %}">{{ item }}</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
</form>
{% endblock %}
