{% extends "main_classic.html" %}

{% block menu_provider %}selected{% endblock %}

{% block sidebar %}
    <h3>Gestion des fournisseurs</h3>
    
    <a href="{% url provider_new %}" class="btn_big">
      <img src="{{ MEDIA_URL }}img/icons/add.png" />Ajouter un fournisseur
    </a>
{% endblock %}

{% block header %}Liste des fournisseurs{% endblock %}

{% block content %}

{% if provider_list %}
<table class="list">
  <thead>
      <th>Nom du fournisseur</th>
      <th>Responsables</th>
      <th>Notes</th>
      <th>Produits</th>
      <th>Action</th>
  </thead>
  
  <tbody>
      {% for provider in provider_list %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ provider.name }}</td>
            <td>
              {{ provider.users_in_charge.all|join:", "|default:"<strong>Aucun</strong>" }}
            </td>
            <td>
              <a href="#" class="">Voir</a>
            </td>
            <td>
              <a href="{% url product_index %}?providers={{provider.id}}" class="table_go">Voir</a>
              ({{ provider.product_set.all.count }})
            </td>
            <td>
              {% if user in provider.user_in_charge.all or user.is_superuser %}
                <a href="{% url provider_item provider.id %}" class="edit">Editer</a>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
