{% extends "base_provider.html" %}
{% block provider_list %}active{% endblock %}

{% block header %}
<h1>Gestion des fournisseurs</h1>
<h2>Modification d'un fournisseur</h2>
{% endblock %}

{% block content %}
<form action="{% url 'provider:item' provider.id %}" method="POST">{% csrf_token %}
	<p class="instructions">Les champs marqués d'une étoile sont obligatoires</p>
	<fieldset>
		{% for field in form %}{% include "form_snippet.html"%}{% endfor %}
	</fieldset>
	<button type="submit" class="check">Valider</button>
	<a href="{% url 'provider:index' %}" class="back">Retour</a>
</form>
{% endblock %}
