{% extends "base_provider.html" %}
{% load paginator filters %}

{% block provider_list %}active{% endblock %}

{% block header %}
<h1>Gestion des fournisseurs</h1>
<h2>Modification d'un fournisseur</h2>
{% endblock %}

{% block content %}
<form action="{% url provider_item provider.id %}" method="POST">{% csrf_token %}
    <input type="hidden" name="method" value="PUT" />
    <p class="instructions">
      <em>Les champs marqués d'une étoile sont obligatoires</em>
    </p>
    {% for field in form %}
        {% include "form_snippet.html"%}
    {% endfor %}
    <button type="submit" class="check">Valider</button>
</form>
{% endblock %}
