{% extends "main_custom.html" %}

{% block menu_team %}selected{% endblock %}

{% block content %}
  <div id="content">
    <div id="content_header"><h2>Changement de mot de passe</h2></div>
    <form action="{% url change_password change_user.id %}" method="POST" accept-charset="utf-8" class="change_password">{% csrf_token %}
      <p class="instructions">
        <em>Les champs marqués d'une étoile sont obligatoires</em>
      </p>
      {% for field in form %}
        {% include "form_snippet.html" %}
      {% endfor %}
      <p><button type="submit" class="check">Valider</button></p>
    </form>
  </div>
{% endblock %}