{% load i18n static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <meta name="robots" content="noindex, nofollow">
	<title>BCG-Lab {{ SITE_NAME }} - login</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/humanity/jquery-ui-1.10.3.custom.css' %}" type="text/css" />
		
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.datepicker-fr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</head>

<body>

<div id="login-messages">
	{% include "block_messages.html" %}
	{{ form.non_field_errors }}
</div>

<div id="wrapper">
	<div id="login">
		<div id="header">
		    <h1>{{ SITE_NAME }}</h1>
		    <div class="cleaner"></div>
		    <h2 style="margin-left:20px;color:#a08d7b">BCG-Lab</h2>
		</div>
		<div id="in_login">
			<div id="login_subhead">Identification</div>
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}" name="login">{% csrf_token %}
				{% for field in form %}{% include "form_snippet.html" %}{% endfor %}
				<br/>
				<input type="image" src="{% static 'img/layout/btn-login.png' %}" value="Connexion" class="submit" />
			</form>
		</div>
		<div id="footer">
			<a href="{% url 'new_user' %}"> >>> Créer un compte</a>
		</div>
	</div>
</div>
</body>
</html>
