{% load i18n static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>BCG-Lab {{SITE_NAME}} - login</title>
		<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/humanity/jquery-ui-1.10.3.custom.min.css' %}" type="text/css" />
		
		<script type="text/javascript" src="{% static 'js/jquery-1.6.4.min.js'%} "></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui-1.8.16.custom.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker-fr.js'%}"></script>
		
		<script type="text/javascript" src="{% static 'js/base.js'%}"></script>
</head>

<body>

<div id="wrapper">
    <div id="login-messages">
        {% include "block_messages.html" %}
        {{ form.non_field_errors }}
    </div>

	<div id="login">
		<div id="header">
		    <h1>{{ SITE_NAME }}</h1>
		    <div class="cleaner"></div>
		    <h2 style="margin-left:20px;color:#64584b">BCG-Lab</h2>
		</div>
		<div id="in_login">
			<div id="login_subhead">Création d'un nouveau compte</div>
			<form method="POST" action="." class="large_labels">{% csrf_token %}
				<fieldset>
                    {% for field in form %}
                        <div class="form-row{% if field.errors %} error {% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}{{ field.errors }}{% endif %}
                            <div class="cleaner"></div>
                        </div>
                    {% endfor %}
				</fieldset>
				<button type="submit" class="button margin-left">Créer le compte</button>
			</form>
		</div>
		<div id="footer">
			<a href="{% url 'login' %}">>> Retour à la page de connexion</a>
		</div>
	</div>
</div>
</body>
</html>
