{% extends "base_admin.html" %}

{% block menu_team %}active{% endblock %}

{% block header %}
  <h1>Administration</h1>
  <h2>Changement de mot de passe</h2>
{% endblock %}

{% block content %}
  <form action="{% url set_password user_id %}" method="POST">{% csrf_token %}
    <p class="instructions">
      <em>Les champs marqués d'une étoile sont obligatoires</em>
    </p>
    <fieldset>
      {% for field in form %}
        {% include "form_snippet.html" %}
      {% endfor %}
    </fieldset>
    
    <button type="submit" class="check">Valider</button>
  </form>
{% endblock %}