{% load filters %}

<div id="confirmDel" class="dialog" title="Confirmer la suppression">
  Merci de confirmer la suppression.
</div>

<div id="confirm" class="dialog" title="Confirmation requise">
  Après confirmation, un email va être envoyé au(x) validateur(s), 
  puis la commande sera transmise au secrétariat.
</div>

<div id="confirmDisjoin" class="dialog" title="Confirmation requise">
	Êtes-vous sûr de disjoindre cet item de cette commande ?
</div>

<div id="confirmDelCart" class="dialog" title="Confirmation requise">
  Êtes-vous sûr de vouloir retirer cet article ?
</div>

<div id="setDeliveryDate" class="dialog" title="Date de livraison">
	<label>Date de livraison (jj/mm/aaaa):</label>
	{% if order.date_created %}
		<input type="text" name="delivery_date" class="datepicker minDate" min-date="{{order.date_created|date}}"/>
	{% else %}
		<input type="text" name="delivery_date" class="datepicker" />
	{% endif %}
</div>
