{% extends "main_custom.html" %}
{% load filters %}

{% block content %}
<div id="content" style="min-height:0">
  <div id="content_header"><h2>{{ order.provider }}</h2></div>
  <ul>
    <li>Commande créée le {{ order.date_created|date }}</li>
    <li>Commande équipe {{ order.team }}</li>
    <li>Statut: {{ order.get_status_display }}</li>
    {% if order.budget %}
      <li>Budget à imputer: {{ order.budget }}</li>
    {% endif %}
  </ul>
  
  <table class="list">
    <thead>
      <th>Utilisateur</th>
      <th>Produit</th>
      <th>Conditionnement</th>
      <th>Référence</th>
      <th>N° Offre</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Prix total</th>
    </thead>
    
    <tbody>
      {% for order_item in order.items.all %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ order_item.get_fullname }}</td>
          <td>{{ order_item.name }}</td>
          <td>{{ order_item.packaging|default:"" }}</td>
          <td>{{ order_item.reference|default:"" }}</td>
          <td>{{ order_item.offer_nb|default:"" }}</td>
          <td>{{ order_item.price }} €</td>
          <td>{{ order_item.quantity }}</td>
          <td>{{ order_item.total_price }} €</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <p><strong>PRIX TOTAL COMMANDE: {{ order.price }} €</strong></p>
</div>

<div id="content" style="min-height:0">
  <div id="content_header"><h2>Remise</h2></div>
  <form action="{% url add_credit order.id %}" method="POST">{% csrf_token %}
    <input type="hidden" name="next" value="{{next}}" />
    <input type="hidden" name="username" value="{{user.username}}" />
    {% for field in form %}
      {% include "form_snippet.html"%}
    {% endfor %}
    <button type="submit" class="check">Valider</button>
  </form>
</div>
{% endblock %}
