{% extends "base_orders.html" %}
{% load filters static %}

{% block menu_order %}active{% endblock %}
{% block header %}
{% if order.status == 3 and user|has_perm:"order.custom_goto_status_4" and order.budget.budget_type == 1 %}
	<div class="btn_wrapper">
		<a href="{% url 'order:export_xls' order.id %}" class="btn_medium">
			<img src="{% static 'img/icons/page_excel.png' %}" />Exporter vers Excel
		</a>
	</div>
{% endif %}
<h1>Gestion des commandes</h1>
<h2>Commandes en cours</h2>
{% endblock %}

{% block content %}
<h2 class="order-title">Fournisseur: {{ order.provider }}</h2>
<div class="order">
	{% include "order/_order_detail.html" %}
</div>
{% include "order/_dialogs.html" %}
{% endblock %}
