{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_order %}selected{% endblock %}

{% block content %}
<div id="content" style="min-height:0" class="order">
  <div id="content_header">
    <h2>Détail commande {{ order.provider }} du {{ order.date_created|date }}</h2>
  </div>
  <ul>
    <li>Commande équipe {{ order.team }}</li>
    <li>Statut: {{ order.get_status_display }}</li>
    
    {% if user|is_secretary or user|is_super_secretary or user|is_super_validator %}
      {% if order.status > 3 %}
        <li><strong>Commande n°</strong>
          <input type="text"
            id="order_number"
            url="{% url set_order_number order.id %}"
            value="{{ order.number|default:"" }}"
            style="float:none;display:inline;padding:1px;"
          />
        </li>
      {% endif %}
    {% else %}{% if order.number %}
      <li>Commande n°{{ order.number }}</li>
    {% endif %}{% endif %}
    
    {% if not user|is_secretary and not order.number and not order.provider.is_local %}
      <li><strong>Budget à imputer:</strong>
        <select id="select-budget" url="{% url order_budget order.id %}">
          {% for budget in budgets %}
            <option value="{{budget.id}}" {% if order.budget == budget %}selected="selected"{% endif %}>
              {{budget}}
            </option>
          {% endfor %}
        </select>
      </li>
    {% else %}{% if user|is_secretary %}
      {% if order.number and order.budget %}
        <li>Budget imputé:{{ order.budget }}</li>
      {% else %}
        <li>Budget à imputer:{{ order.budget|default:"A DEFINIR" }}</li>
      {% endif %}
    {% endif %}{% endif %}
  </ul>
  
  <table class="list">
    <thead>
      <th>Utilisateur</th>
      <th>Produit</th>
      <th>Conditionnement</th>
      <th>Référence</th>
      <th>N° Offre</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Prix total</th>
      <th>Action</th>
    </thead>
    
    <tbody>
      {% for order_item in order.items.all %}
        <tr class="{% cycle 'odd' 'even' %}" id="{{ order_item.id }}">
          <td>{{ order_item.get_fullname }}</td>
          <td>{{ order_item.name }}</td>
          <td>{{ order_item.packaging|default:"" }}</td>
          <td>{{ order_item.reference|default:"" }}</td>
          <td>{{ order_item.offer_nb|default:"" }}</td>
          <td>{{ order_item.price }} €</td>
          <td>
            <input type="text" name="setQuantity" value="{{ order_item.quantity }}" style="width:15px;" />
          </td>
          <td>{{ order_item.total_price }} €</td>
          <td>
            <a href="{% url orderitem_detail order_item.id %}" class="pencil">
              Modifier
            </a>
            <a href="{% url orderitem_delete order_item.id %}" class="trash confirmDel">
              Supprimer
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  
  <h4>Commentaires</h4>
  <textarea id="order_notes" url="{% url set_order_notes order.id %}">{{ order.notes|default:"" }}</textarea>
  <div class="cleaner"></div>
  
  <p><strong>PRIX TOTAL COMMANDE: {{ order.price }} €</strong></p>
  <a href="{{ order.get_absolute_url }}" class="disk ajax-post" url="{% url set_item_quantity %}">
    Enregistrer les modifications
  </a>
  <a href="{% url tab_orders %}" class="back">Retour aux commandes</a>
  
  {% if order.status == 2 and not user|is_secretary %}
    <a href="{% url set_next_status order.id %}" class="next-status save-changes">
      {% if order.budget.budget_type == 0 %}
        Pour saisie XLAB
      {% else %}
        Pour saisie SIFAC
      {% endif %}
    </a>
  {% endif %}
  
  <div style="float:right">
    <a href="{% url add_debit order.id %}?next={{order.get_absolute_url}}" class="plus">Frais annexes</a>
    <a href="{% url add_credit order.id %}?next={{order.get_absolute_url}}" class="minus">Remises</a>
  </div>
  
  {% include "order/_dialogs.html" %}
</div>
{% endblock %}
