{% extends "base_orders.html" %}
{% load filters static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block menu_order %}active{% endblock %}

{% block header %}
<h1>Fournisseur: {{ order.provider }}</h1>
<h2>Modification d'un produit</h2>
{% endblock %}

{% block content %}
<form id="productUpdateForm" action="{% url 'orderitem_detail' orderitem.id %}" method="POST">{% csrf_token %}
	<p class="instructions">
		<em>Les champs marqués d'une étoile sont obligatoires</em>
	</p>
	<fieldset>
	{% for field in form %}{% include "form_snippet.html"%}{% endfor %}
	
	<input type="hidden" name="send_changes" value="False" />
	
	{% if orderitem.product_id %}
		<button type="submit" class="check sendChanges">Valider</button>
	{% else %}
		<button type="submit" class="check">Valider</button>
	{% endif %}
	
	<a href="{% url 'order_item' order.id %}" class="back">Annuler</a>
	</fieldset>
</form>

<div id="sendChanges" class="dialog" title="Modification de prix">
	Vous apportez une modification au prix d'un ou plusieurs produits.
	Cette modification va devenir permanente dans la base de données.
	S'il s'agît d'une remise ponctuelle, merci d'utiliser le bouton "Remise".
</div>

{% endblock %}
