{% extends "base_orders.html" %}
{% load filters %}

{% block menu_order %}active{% endblock %}

{% block header %}
  <h1>Gestion des commandes</h1>
  <h2>{{ order.provider }} - {{ order.date_created|date }}</h2>
{% endblock %}

{% block content %}
  <ul class="brown_arrow" style="float:left">
    <li>Commande équipe {{ order.team }}</li>
    <li>Statut: {{ order.get_status_display }}</li>
  </ul>
  
  <div style="float:right">
    <h4>Commentaires</h4>
    <textarea id="order_notes" url="{% url set_order_notes order.id %}" class="small_textarea">
      {{ order.notes|default:"" }}
    </textarea>
  </div>
  <div class="cleaner"></div>
  <br />
  
  <table class="list">
    <thead>
      <th>Utilisateur</th>
      <th>Produit</th>
      <th>Conditionnement</th>
      <th>Référence</th>
      <th>N° Offre</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Prix total</th>
      {% if order.status == 1 %} {# waiting for validation #}
        <th>Action</th>
      {% endif %}
    </thead>
    
    <tbody>
      {% for order_item in order.items.all %}
        <tr class="{% cycle 'odd' 'even' %}" id="{{order_item.id}}">
          <td>{{ order_item.get_fullname }}</td>
          <td>{{ order_item.name }}</td>
          <td>{{ order_item.packaging|default:"" }}</td>
          <td>{{ order_item.reference|default:"" }}</td>
          <td>{{ order_item.offer_nb|default:"" }}</td>
          <td>{{ order_item.price }} €</td>
          {% if order.status == 1 %}
            <td>
              <input type="text" name="setQuantity" value="{{ order_item.quantity }}" style="width:15px;" />
            </td>
          {% else %}
            <td>{{ order_item.quantity }}</td>
          {% endif %}
          <td>{{ order_item.total_price }} €</td>
          {% if order.status == 1 %}
            <td>
              <a href="{% url orderitem_delete order_item.id %}" class="trash confirmDel">
                Supprimer
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <br />
  <strong>PRIX TOTAL COMMANDE: {{ order.price }} €</strong>
  <br /><br />
  
  <a href="{{ order.get_absolute_url }}" class="disk ajax-post" url="{% url set_item_quantity %}">
    Enregistrer les modifications
  </a>
  <a href="{% url tab_orders %}" class="check">Valider</a>
  
  {% if order.status == 1 %}
    <div style="float:right">
      <a href="{% url add_debit order.id %}?next={{order.get_absolute_url}}" class="plus">Frais annexes</a>
      <a href="{% url add_credit order.id %}?next={{order.get_absolute_url}}" class="minus">Remises</a>
    </div>
  {% endif %}
  
  {% include "order/_dialogs.html" %}
</div>
{% endblock %}
