{% extends "main_custom.html" %}
{% load paginator filters %}

{% block menu_order %}selected{% endblock %}

{% block content %}
<div id="content" style="min-height:0" class="order">
  <div id="content_header">
    <h2>Détail commande {{ order.provider }} du {{ order.date_created|date }}</h2>
  </div>
  <ul>
    <li>Commande équipe {{ order.team }}</li>
    <li>Statut: {{ order.get_status_display }}</li>
    {% if budgets and not order.number and not order.provider.is_local %}
      <li><strong>Budget à imputer:</strong>
        <select order_id="{{ order.id }}" class="select-budget">
          {% for budget in budgets %}
            <option value="{{budget.id}}" {% if order.budget == budget %}selected="selected"{% endif %}>
              {{budget}}
            </option>
          {% endfor %}
        </select>
      </li>
    {% else %}{% if order.number and order.budget %}
      <li>Budget imputé:{{ order.budget }}</li>
    {% endif %}{% endif %}
  </ul>
  
  <table class="list">
    <thead>
      <th>Utilisateur</th>
      <th>Produit</th>
      <th>Conditionnement</th>
      <th>Référence</th>
      <th>N° Offre</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Prix total</th>
      {% if not order.number %}
        <th>Action</th>
      {% endif %}
    </thead>
    
    <tbody>
      {% for order_item in order.items.all %}
        <tr class="{% cycle 'odd' 'even' %}" id="{{ order_item.id }}">
          <td>{{ order_item.get_fullname }}</td>
          <td>{{ order_item.name }}</td>
          <td>{{ order_item.packaging|default:"" }}</td>
          <td>{{ order_item.reference|default:"" }}</td>
          <td>{{ order_item.offer_nb|default:"" }}</td>
          <td>{{ order_item.price }} €</td>
          {% if not order.number %}
            <td>
              <input type="text" name="setQuantity" value="{{ order_item.quantity }}" style="width:15px;" />
            </td>
          {% else %}
            <td>{{ order_item.quantity }}</td>
          {% endif %}
          <td>{{ order_item.total_price }} €</td>
          {% if not order.number %}
            <td>
              <a href="{% url orderitem_delete order_item.id %}" class="trash confirmDel">
                Supprimer
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <p><strong>PRIX TOTAL COMMANDE: {{ order.price }} €</strong></p>
  {% if not order.number %}
    <a href="{% url tab_orders %}" class="disk ajax-post" url="{% url set_item_quantity %}">
      Enregistrer les modifications
    </a>
  {% else %}
    <a href="{% url tab_orders %}" class="check">Valider</a>
  {% endif %}
  {% if order.status == 1 %}
    <a href="{% url set_next_status order.id %}" class="check">Valider la commande</a>
  {% endif %}
  <a href="{% url tab_orders %}" class="back">Annuler</a>
  
  {% if not order.number %}
    <div style="float:right">
      <a href="{% url add_debit order.id %}?next={{order.get_absolute_url}}" class="plus">Frais annexes</a>
      <a href="{% url add_credit order.id %}?next={{order.get_absolute_url}}" class="minus">Remises</a>
    </div>
  {% endif %}
  
  {% include "order/_dialogs.html" %}
</div>
{% endblock %}
