{% extends "base_orders.html" %}
{% load paginator filters %}

{% block menu_reception %}active{% endblock %}

{% block header %}
	<h1>Gestion des commandes</h1>
	{% if user|has_perm:"order.custom_view_local_provider" %}
		<h2>Commandes à livrer</h2>
	{% else %}
		<h2>Commandes à réceptionner</h2>
	{% endif %}
{% endblock %}

{% block content %}
{% if orderitems %}
<form action="{% url tab_reception %}" method="POST">{% csrf_token %}
	<div style="float:right;margin-bottom:10px">
		<button type="submit" class="check" url="{% url tab_reception %}">Valider les quantités livrées</button>
	</div>
	<div class="cleaner"></div>
	<table class="list">
		<thead>
			<th>Date</th>
			<th>Fournisseur</th>
			{% if user|has_multiple_teams or user|has_perm:"team.custom_view_teams" or user|has_perm:"order.custom_order_any_team" %}
			<th>Equipe</th>
			{% endif %}
			<th>Commandé par</th>
			<th>Réceptionné par</th>
			<th>N° Cmde</th>
			<th>Désignation</th>
			<th>Référence</th>
			<th>Prix unitaire</th>
			<th>Qté attendue</th>
			<th>Reste à livrer</th>
			<th>Qté livrée</th>
			<th></th>
		</thead>
		<tbody>
			{% for item in orderitems %}
				{% with item.get_order as order %}
				<tr class="{% cycle 'even' 'odd' %}">
					<td>{{ order.date_created|date }}</td>
					<td>{{ order.provider.name }}</td>
					{% if user|has_multiple_teams or user|has_perm:"team.custom_view_teams" or user|has_perm:"order.custom_order_any_team" %}
					<td>{{ order.get_full_name }}</td>
					{% endif %}
					<td>{{ item.get_fullname }}</td>
					<td>{{ item.get_fullname_recept|default:"" }}</td>
					<td>{{ order.number|default:"" }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.reference }}</td>
					<td>{{ item.price }} €</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.delivered }}</td>
					<td>
						<input type="text" name="delivered_{{item.id}}" style="width: 30px;" value="{{item.delivered}}" />
					</td>
					<td style="text-align:center">
						<input type="checkbox" name="action_{{item.id}}" />
					</td>
				</tr>
				{% endwith %}
			{% endfor %}
		</tbody>
	</table>
</form>
{% else %}
	{% if user|has_perm:"order.custom_view_local_provider" %}
		<p>Aucune commande à livrer</p>
	{% else %}
		<p>Aucune commande à réceptionner</p>
	{% endif %}
{% endif %}
{% endblock %}
